@charset "UTF-8";

/* body,
html {
	margin: 0;
	padding: 0;
	font-size: 14px;
	line-height: 2;
	font-family: 'Noto Sans JP','Helvetica Neue','Lucida Grande','Hiragino Kaku Gothic Pro','ヒラギノ角ゴ Pro W3',Meiryo,'メイリオ',sans-serif;
  font-weight: 300;
	overflow-x: hidden;
} */


/*===============================================================

	title

===============================================================*/

/* .title.size-xl {
  font-size: 20vh;
}

@media (min-width: 769px) {
}

@media (max-width: 768px) {
  .title.size-xl {
    font-size: 14vw;
  }
} */


/*===============================================================

	scroll section

===============================================================*/

[data-scroll-direction="horizontal"] [data-scroll-container] {
  white-space: nowrap;
  overflow: hidden;
}

[data-scroll] {
  transform: none;
  display: inline-block;
}

.scroll-section + .scroll-section {
  margin-top: 0;
}

/* .main-slide01 .swiper-slide {
  width: 330px!important;
} */

@media (min-width: 769px) {
  /* .area-scroll {
    height: 100vh;
    padding: 0 !important;
    font-size: 0;
    letter-spacing: 0;
    white-space: nowrap;
    position: relative;
  }
  .area-scroll:before {
    content: '';
    height: 100%;
    font-size: 0;
    line-height: 1;
    letter-spacing: 0;
    vertical-align: middle;
    display: inline-block;
  } */
  .scroll-section {
    width: max-content;
    font-size: 1rem;
    letter-spacing: .075em;
    position: relative;
    vertical-align: middle;
    display: inline-block;
  }
  .scroll-section .section {
    display: inline-block;
  }
  .scroll-section [class^="section-"] {
    max-width: none;
    padding: 0;
    vertical-align: middle;
    white-space: normal;
    display: inline-block;
  }
  .scroll-section [class^="section-"] + [class^="section-"] {
    margin-top: 0;
  }
  [data-scroll]:not(.is-inview) {
    transform: none !important;
  }
}
/* @media (max-width: 768px) {
  .section:not(.countdown_area) {
    opacity: 1 !important;
  }
  .main > .section {
    margin-bottom: var(--margin-l);
  }
  .main > :last-child {
    margin-bottom: 0 !important;
  }
  .section + .section {
    padding-top: var(--margin-l);
  }
  .area-scroll {
    padding: 0 !important;
  }
} */



.p-top-mv__rail-inner {
  display: flex;
  flex-wrap: wrap;
}