@charset 'UTF-8';
@use "../../inc/" as inc;
/*
c-arrow
-----------------------------------------------------*/
.c-arrow {
  position: relative;
  display: inline-block;
  height: 9.4px;
  width: 6.1px;
  background-image: url(../img/v.svg);
  //   &::before {
  //     content: "";
  //     position: absolute;
  //     display: block;
  //     width: 6.7px;
  //     height: 2px;
  //     background-color: inc.$main-color;
  //     transform: translate(-50%, -50%) rotate(45deg);
  //     top: 33%;
  //     left: 50%;
  //   }
  //   &::after {
  //     content: "";
  //     position: absolute;
  //     display: block;
  //     width: 6.7px;
  //     height: 2px;
  //     background-color: inc.$main-color;
  //     transform: translate(-50%, -50%) rotate(-45deg);
  //     top: 66%;
  //     left: 50%;
  //   }
}
