@charset 'UTF-8';
@use "../../inc/" as inc;
/*
c-link
-----------------------------------------------------*/
.c-link {
  &--ub {
    // text-decoration: underline;
  }
  &--animation-ub {
    position: relative;
    &::after {
      transition: all 0.09s ease-out;
      content: "";
      height: 1px;
      width: 100%;
      position: absolute;
      display: block;
      bottom: -10px;
      left: 0;
      background-color: inc.$border-color;
      transform: scale(0, 1);
      transform-origin: left top;
    }
    &:hover {
      &::after {
        transform: scale(1, 1);
      }
    }
  }
  &--animation-ub-wh {
    position: relative;
    &::after {
      transition: all 0.09s ease-out;
      content: "";
      height: 1px;
      width: 100%;
      position: absolute;
      display: block;
      bottom: -10px;
      left: 0;
      background-color: inc.$main-background-color;
      transform: scale(0, 1);
      transform-origin: left top;
    }
    &:hover {
      &::after {
        transform: scale(1, 1);
      }
    }
  }
  &--animation-op {
    transition: opacity 0.3s ease-out;
    &:hover {
      opacity: 0.8;
    }
  }
  &--animation-ymb {
    & > figure > img {
      transition: all 0.4s ease-out;
    }
    &__name {
      position: relative;
      width: 100%;
      &::after {
        position: absolute;
        display: block;
        transition: all 0.09s ease-out;
        content: "";
        height: 1px;
        width: 100%;
        position: absolute;
        display: block;
        bottom: -10px;
        left: 0;
        background-color: inc.$border-color;
        transform: scale(0, 1);
        transform-origin: left top;
      }
    }
    &:hover {
      & > figure > img {
        scale: 1.03;
      }
    }
  }
}
.c-link--animation-ymb:hover > div > .c-link--animation-ymb__name::after {
  transform: scale(1, 1);
}
.c-link--animation-notice-date:hover ~ dd.p-news__item > a::after {
  transform: scale(1, 1);
}
.c-link--animation-service:hover > p.p-top-service__link::after {
  transform: scale(1, 1);
}
