@charset 'UTF-8';
@use "../../inc/" as inc;
/*
c-searchbox
-----------------------------------------------------*/
.c-searchbox {
  border-radius: 99px;
  border: 1px solid inc.$color-blu;
  line-height: 49px;
  padding-left: 25px;
  width: 100%;
}
