@charset 'UTF-8';
@use "../../inc/" as inc;
/*
c-text
-----------------------------------------------------*/
.c-text {
  &--h1 {
    @include inc.sizingRem(font-size, wide, 44px, sp, 24px);
    @include inc.sizing(line-height, wide, 80px, sp, 42px);
    @include inc.sizing(margin-bottom, wide, 112px, sp, 48px);
    font-weight: 700;
    padding-left: 4%;
    @include inc.mq(vr) {
      padding-left: 0;
    }
    span {
      @include inc.sizingRem(font-size, wide, 14px, sp, 12px);
      @include inc.sizing(margin-bottom, wide, 24px, sp, 12px);
      //color: inc.$color-blu2;
      color: inc.$color-blu;
      display: block;
      line-height: 1;
      //font-family: 'Hind', sans-serif;
      font-family: 'Hind_m', sans-serif;
      font-weight: 500;
    }
    &.--peopel {
      @include inc.sizing(margin-bottom, wide, 32px, sp, 16px);
      span {
        color: inc.$color-blk;
        @include inc.sizing(margin-bottom, wide, 80px, sp, 32px);
        font-family: "Zen Kaku Gothic New", sans-serif;
      }
    }
  }
  &--h2 {
    @include inc.sizingRem(font-size, wide, 24px, sp, 20px);
    @include inc.sizing(line-height, wide, 48px, sp, 32px);
    @include inc.sizing(margin-bottom, wide, 24px, sp, 16px);
    font-weight: 700;
    &.--peopel {
      @include inc.sizingRem(font-size, wide, 22px, sp, 16px);
      margin-bottom: 80px;
      padding-left: 4%;
      @include inc.mq(vr) {
        padding-left: 0;
      }
      span {
        @include inc.sizingRem(font-size, wide, 16px, sp, 12px);
        font-weight: 500;
      }
    }
    &.--peopel2 {
      span {
        @include inc.sizingRem(font-size, wide, 16px, sp, 12px);
        @include inc.sizing(margin-bottom, wide, 32px, sp, 24px);
        color: inc.$color-grn;
        font-weight: 700;
        display: block;
      }
    }
  }
  &--h2.-L {
    @include inc.sizing(padding-left, wide, 24px, sp, 16px);
    @include inc.sizing(padding-right, wide, 24px, sp, 16px);
    @include inc.sizing(padding-top, wide, 16px, sp, 12px);
    @include inc.sizing(padding-bottom, wide, 16px, sp, 12px);
    @include inc.sizing(margin-bottom, wide, 48px, sp, 32px);
    @include inc.sizing(border-radius, wide, 8px, sp, 4px);
    background: inc.$color-light-blu;
  }
  &--h3 {
    @include inc.sizingRem(font-size, wide, 20px, sp, 16px);
    @include inc.sizing(line-height, wide, 30px, sp, 24px);
    @include inc.sizing(margin-bottom, wide, 16px, sp, 12px);
    @include inc.sizing(padding-left, wide, 16px, sp, 12px);
    border-left: 1px solid inc.$color-blu;
    font-weight: 500;
    padding-bottom: 3px;
    line-height: 1;
    &.--peopel {
      border: none;
      padding-left: 0;
      font-weight: 700;
    }
  }
  &--h2 + &--h3 {
    margin-top: 40px;
    @include inc.mq(tabs) {
      margin-top: 54px;
    }
  }
  &--h4 {
    @include inc.sizingRem(font-size, wide, 18px, sp, 14px);
    @include inc.sizing(line-height, wide, 32px, sp, 24px);
    @include inc.sizing(margin-bottom, wide, 16px, sp, 12px);
    @include inc.sizing(padding-bottom, wide, 16px, sp, 12px);
    border-bottom: 2px solid inc.$color-light-blu;
    font-weight: 700;
  }
}
.people02 {
  .c-text--h2.--peopel2 span {
    color: inc.$color-grn2;
  }
}
.people03 {
  .c-text--h2.--peopel2 span {
    color: inc.$color-blu2;
  }
}
.people04 {
  .c-text--h2.--peopel2 span {
    color: inc.$color-blu3;
  }
}
.people05 {
  .c-text--h2.--peopel2 span {
    color: inc.$color-blu4;
  }
}
