@charset 'UTF-8';
@use "../../inc/" as inc;
/*
p-about
-----------------------------------------------------*/
.p-about {
  &--merit {
    width: 100%;
    margin: 80px auto 0;
    padding: 0;
    background: none;
    @include inc.mq(spl) {
      margin: 32px auto 0;
      background: url(../img/about/mimipo.png) no-repeat 3% 50%;
      background-size: 12%;
      padding: 0 0 0 20%;
      width: 90%;
    }
    @include inc.mq(tab) {
      background-position: 9% 100%;
      background-size: 80px;
    }
    h2 {
      font-weight: 700;
      color: inc.$color-blu;
      @include inc.sizingRem(font-size, wide, 26px, sp, 15px);
      line-height: 1.6;
      position: relative;
      padding-left: 21%;
      &::before {
        content:"";
        background: url(../img/about/mimipo.png) no-repeat 50% 50%;
        background-size: contain;
        display: block;
        width: 17%;
        height: 22vw;
        bottom: 0;
        left: 0;
        position: absolute;
      }
      @include inc.mq(spl) {
        padding: 0;
        &::before {
         display: none;
        }
      }
      // @include inc.mq(tab) {
      //   padding: 0;
      // }
      &::after {
        content: "";
        display: block;
        width: 100%;
        height: 20px;
        background: url(../img/about/line.svg) no-repeat 0 100%;
        background-size: contain;
        @include inc.mq(spl) {
          height: 32px;
        }
      }
      // &::before {
      //   content: "";
      //   display: block;
      //   background: url(../img/about/mimipo.png) no-repeat 3% 100%;
      //   background-size: 80px;
      //   width: 15%;
      //   height: 180%;
      //   position: absolute;
      //   left: 0;
      //   bottom: 0;
      //   @include inc.mq(spl) {
      //     display: none;
      //   }
      // }
    }
  }
  ul {
    @include inc.sizing(margin-top, wide, 24px, sp, 16px);
    padding: 0;
    @include inc.mq(spl) {
      padding: 0 0 0 0px;
    }
    list-style-type: none;
    @include inc.mq(tab) {
      padding: 0 0 0 106px;
    }
    li {
      @include inc.sizingRem(font-size, wide, 18px, sp, 13px);
      line-height: 1.4;
      padding: 0;
      position: relative;
      &::before {
        content: "●";
        color: inc.$color-blu;
        @include inc.sizingRem(font-size, wide, 18px, sp, 14px);
        @include inc.sizing(padding-right, wide, 10px, sp, 8px);
      }
      & + li {
        @include inc.sizing(margin-top, wide, 12px, sp, 8px);
      }
    }
  }
  &--philosophy {
    @include inc.sizingRem(font-size, wide, 20px, sp, 14px);
    line-height: 2;
    @include inc.mq(spl) {
      text-align: center;
    }
  }

  &--numbers {
    &--outer {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem 2%;
    }
    border: 1px solid inc.$color-blu;
    border-radius: 16px;
    @include inc.sizing(padding, lap, 32px, sp, 16px);
    @include inc.sizing(padding-bottom, lap, 48px, sp, 24px);
    @include inc.mq(lap) {
      border: 2px solid inc.$color-blu;
      padding: 2rem 2rem 2.5rem;
    }
    text-align: center;
    h2 {
      @include inc.sizingRem(font-size, wide, 22px, sp, 12px);
      font-weight: 500;
      line-height: 1.6;
      text-align: center;
      margin-bottom: 6px;
    }
    .--left {
      text-align: left;
    }
    .--center {
      text-align: center
    }
    .number {
      @include inc.sizingRem(font-size, wide, 110px, sp, 57px);
      color: inc.$color-blu;
      font-weight: 500;
      line-height: 1;
      font-family: 'Hind', sans-serif;
      position: relative;
      display: inline-block;
      span.unit {
        @include inc.sizingRem(font-size, wide, 31px, sp, 17px);
        font-weight: 500;
        line-height: 1;
      }
      span.as_of {
        @include inc.sizingRem(font-size, wide, 12px, sp, 9px);
        display: block;
        position: absolute;
        right: 0;
        bottom: -12px;
        color: inc.$color-blk;
      }
    }
    &.numbers01 {
      width: 100%;
      .p-about--numbers--flex {
        gap: 1.5rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .--center {
          @include inc.sizing(width, lap, 200px, sp, 150px);
        }
        figure {
          display:flex; flex-direction:column; justify-content:center; align-items:center;
          img {
            @include inc.sizing(width, lap, 200px, sp, 150px);
            margin-top: 12px;
          }
        }
      }
      @include inc.mq(lap) {
        width: 45%;
        .p-about--numbers--flex {
          display: block;
          .--center {
            width: 100%;
          }
          figure {
            img {
              width: 80%;
              display: block;
              margin: 40px auto 0;
            }
          }
        }
      }
    }
    &.numbers02 {
      text-align: center;
      width: 100%;
      .p-about--numbers--flex {
        margin: 0 auto;
        width: 100%;
        max-width: 326px;
        padding-bottom: 2rem;
        position: relative;
        h2 {
          text-align: center;
          margin-left: 0;
        }
        figure {
          width: 96px;
          position: absolute;
          right: 0px;
          bottom: 30%;
          transform: translate(0, 50%);
          z-index: -1;
          img {
            width: 100%;
          }
        }
      }
      @include inc.mq(lap) {
        text-align: left;
        width: 53%;
        .p-about--numbers--flex {
          margin: 0 auto;
          width: 100%;
          max-width: 406px;
          padding-bottom: 5.5rem;
          h2 {
            text-align: left;
            margin-left: 72px;
          }
          figure {
            width: 136px;
            position: absolute;
            right: 0px;
            bottom: 20%;
            img {
              width: 100%;
            }
          }
        }
      }
    }
    &.numbers03 {
      width: 100%;
      .p-about--numbers--flex {
        gap: 1.5rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .--center {
          @include inc.sizing(width, lap, 200px, sp, 150px);
        }
        figure {
          display:flex; flex-direction:column; justify-content:center; align-items:center;
          img {
            @include inc.sizing(width, lap, 200px, sp, 150px);
            margin-top: 12px;
            @include inc.mq(lap) {
              margin-top: 0;
            }
          }
        }
      }
      @include inc.mq(lap) {
        width: 49%;
        .p-about--numbers--flex {
          gap: 1.5rem;
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          .--center {
            width: 180px;
          }
          figure {
            display:flex; flex-direction:column; justify-content:center; align-items:center;
            img {
              width: 150px;
            }
          }
        }
      }
    }
    &.numbers04 {
      width: 49%;
      .p-about--numbers--flex {
        display: block;
        figure {
          display:flex; flex-direction:column; justify-content:center; align-items:center;
          img {
            margin-top: 32px;
            width:45%;
          }
        }
      }
      @include inc.mq(lap) {
        .p-about--numbers--flex {
          gap: 1.5rem;
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          .--center {
            width: 184px;
          }
          figure {
            display:flex; flex-direction:column; justify-content:center; align-items:center;
            img {
              width: 100px;
            }
          }
        }
      }
    }
    &.numbers05 {
      width: 49%;
      figure {
        img {
          display: block;
          margin: 32px auto 0;
          width:45%;
        }
      }
      @include inc.mq(lap) {
        width: 38%;
        figure {
          display:flex; flex-direction:column; justify-content:center; align-items:center;
          img {
            width: 96px;
            display: block;
            margin: 32px auto 0;
          }
        }
      }
    }
    &.numbers06 {
      width: 100%;
      .p-about--numbers--flex {
        gap: 1.5rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .--center {
          @include inc.sizing(width, lap, 150px, sp, 150px);
          .number {
            @include inc.sizing(width, lap, 150px, sp, 120px);
          }
        }
        figure {
          display:flex; flex-direction:column; justify-content:center; align-items:center;
          img {
            @include inc.sizing(width, lap, 200px, sp, 150px);
            margin-top: 12px;
            @include inc.mq(lap) {
              margin-top: 0;
            }
          }
        }
      }
      @include inc.mq(lap) {
        width: 60%;
        .p-about--numbers--flex {
          gap: 1.5rem;
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          .--center {
            width: 216px;
            .number {
              display: block;
              text-align: center;
              margin: 0 auto;
            }
          }
          figure {
            display:flex; flex-direction:column; justify-content:center; align-items:center;
            img {
              width: 212px;
            }
          }
        }
      }
    }
    &.numbers07 {
      width: 49%;
      .p-about--numbers--flex {
        display: block;
        figure {
          display:flex; flex-direction:column; justify-content:center; align-items:center;
          img {
            margin-top: 32px;
            width: 70%;
          }
        }
      }
      @include inc.mq(lap) {
        width: 44%;
        .p-about--numbers--flex {
          gap: 1.5rem .1rem;
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          .--center {
            width: 202px;
          }
          figure {
            display:flex; flex-direction:column; justify-content:center; align-items:center;
            img {
              width: 116px;
            }
          }
        }
      }
    }
    &.numbers08 {
      width: 49%;
      .p-about--numbers--flex {
        display: block;
        figure {
          display:flex; flex-direction:column; justify-content:center; align-items:center;
          img {
            margin-top: 32px;
            width: 70%;
          }
        }
      }
      @include inc.mq(lap) {
        width: 54%;
        .p-about--numbers--flex {
          gap: 1.5rem;
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          .--center {
            width: 188px;
          }
          figure {
            display:flex; flex-direction:column; justify-content:center; align-items:center;
            img {
              width: 132px;
            }
          }
        }
      }
    }
  }
}

