@charset 'UTF-8';
@use "../../inc/" as inc;
/*
p-company-report
-----------------------------------------------------*/
.p-company-report {
  &__list {
    display: flex;
    flex-wrap: wrap;
    @include inc.sizing(column-gap, wide, 30px, sp, 18px);
    @include inc.sizing(row-gap, wide, 61px, sp, 30px);
  }
  &__item {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 4%;
    @include inc.mq(tab) {
      width: 31.8%;
      flex-direction: column;
    }
    @include inc.mq(lap) {
      width: 22.9%;
    }
    & > div {
      display: flex;
      flex-direction: column;
    }
  }
  &__figure {
    aspect-ratio: 128/85;
    width: 50%;
    height: auto;
    border-radius: 10px;
    background-color: #f3f3f3;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    & > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    @include inc.mq(tab) {
      width: 100%;
    }
  }
}
