@charset 'UTF-8';
@use "../../inc/" as inc;
/*
p-counseling-block
-----------------------------------------------------*/
.p-counseling-block {
  &__container {
    display: flex;
    width: 72.7%;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
    @include inc.sizing(row-gap, wide, 58px, sp, 29px);
    @include inc.mq(lap) {
      margin: 0 auto;
    }
  }
  &__item {
    width: 48.1%;
    & > a > figure {
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
      background-color: inc.$main-background-color;
      @include inc.sizing(border-radius, wide, 10px, sp, 5px);
      overflow: hidden;
      aspect-ratio: 2/1;
      position: relative;
      width: 100%;
      height: auto;
      gap: 15px;
      & > figcaption {
        text-align: center;
        @include inc.sizingRem(font-size, wide, 16px, sp, 13px);
        @include inc.sizing(line-height, wide, 24px, sp, 18px);
      }
      & > img {
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    & > a > p {
      color: inc.$accent-text-color;
      @include inc.sizingRem(font-size, wide, 20px, sp, 14px);
      margin-top: 0.6em;
    }
    &--wide {
      @include inc.sizing(border-radius, wide, 10px, sp, 5px);
      background-color: inc.$main-background-color;
      width: 100%;
      height: 100%;
      overflow: hidden;
      @include inc.sizing(height, sp, 131px, tab, 134px);
      @include inc.mq(tab) {
        @include inc.sizing(height, tab, 134px, lap, 140px);
      }
      @include inc.mq(lap) {
        @include inc.sizing(height, lap, 140px, wide, 200px);
      }
    }
  }
  &__cons-figure {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 22px;
    & > figcaption {
      text-align: center;
      @include inc.sizingRem(font-size, wide, 16px, sp, 13px);
      @include inc.sizing(line-height, wide, 24px, sp, 18px);
    }
    & > img {
      width: 70% !important;
      height: 70% !important;
      object-fit: contain !important;
      position: relative !important;
      transform: none !important;
      top: auto !important;
      left: auto !important;
    }
  }
  &__card {
    &--founding-seminar {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      overflow: hidden;
      & > div,
      & > figure {
        width: 50%;
      }
      & > figure {
        overflow: hidden;
        position: relative;
        height: 100%;
        & > img {
          position: absolute;
          transform: translate(-50%, -50%);
          top: 50%;
          left: 50%;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      & > div {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        column-gap: 5%;
        row-gap: 1em;
        padding-left: 3.5%;
        padding-right: 5.1%;
        justify-content: center;
        & > figure {
          display: flex;
          align-items: center;
          width: 48%;
          @include inc.mq(spl) {
            width: 22%;
          }
          @include inc.mq(tab) {
            width: 16.3%;
          }
          & > img {
            width: 100%;
            height: auto;
          }
        }
        & > p:first-child {
          width: 92%;
          @include inc.sizingRem(font-size, wide, 15px, sp, 12px);
          @include inc.sizing(line-height, wide, 21px, lap, 14px);
        }
        & > p:last-child {
          font-weight: 700;
          @include inc.sizingRem(font-size, wide, 25px, sp, 10px);
          @include inc.sizing(line-height, wide, 36px, lap, 22px);
          @include inc.mq(tab) {
            @include inc.sizingRem(font-size, wide, 25px, tab, 14px);
          }
        }
      }
    }
  }
}
