@charset 'UTF-8';
@use "../../inc/" as inc;
/*
p-faq
-----------------------------------------------------*/
.p-faq {
  &__card {
    background-color: #edf6f5;
    border-radius: 10px;
    @include inc.sizing(margin-bottom, wide, 30px, sp, 15px);
    & > dt {
      display: flex;
      justify-content: space-between;
      @include inc.sizing(padding-left, wide, 30px, sp, 22px);
      @include inc.sizing(padding-right, wide, 30px, sp, 22px);
      @include inc.sizing(padding-top, wide, 30px, sp, 20px);
      @include inc.sizing(padding-bottom, wide, 30px, sp, 20px);
      & > p {
        @include inc.sizingRem(font-size, wide, 20px, sp, 14px);
        @include inc.sizing(line-height, wide, 32px, sp, 25px);
        font-weight: 400;
        padding-left: 1.3em;
        width: 85%;
        &::before {
          content: "Q : ";
          margin-left: -1.3em;
        }
      }
    }
    & > dd {
      transition: opacity 0.3s ease-out;
      visibility: hidden;
      opacity: 0;
      padding: 0;
      height: 0;
      @include inc.sizing(padding-left, wide, 63px, sp, 22px);
      @include inc.sizing(padding-right, wide, 63px, sp, 22px);
    }
  }
  &__card.active {
    & > dd {
      visibility: visible;
      opacity: 1;
      height: auto;
      @include inc.sizing(padding-top, sp, 15px, wide, 4px);
      @include inc.sizing(padding-bottom, wide, 30px, sp, 20px);
    }
  }
  &__ol {
    margin-top: 1em;
    margin-left: 2em;
    list-style-type: decimal;
  }
  &__button {
    @include inc.sizing(height, wide, 40px, sp, 27px);
    @include inc.sizing(width, wide, 40px, sp, 27px);
    border-radius: 99px;
    background-color: inc.$main-color;
    display: flex;
    align-items: center;
    justify-content: center;
    & > span {
      width: 100%;
      height: 100%;
      position: relative;
      &::before {
        content: " ";
        transition: opacity 0.3s ease-out;
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        background-color: inc.$accent-text-color;
        @include inc.sizing(width, wide, 2px, sp, 1px);
        @include inc.sizing(height, wide, 16px, sp, 11px);
      }
      &::after {
        content: " ";
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        background-color: inc.$accent-text-color;
        @include inc.sizing(height, wide, 2px, sp, 1px);
        @include inc.sizing(width, wide, 16px, sp, 11px);
      }
    }
  }
  &__button.active > span::before {
    opacity: 0;
  }
}
