@charset 'UTF-8';
@use "../../inc/" as inc;
/*
p-footer
-----------------------------------------------------*/
.p-footer {
  padding: 0 0 2rem;
  &__banner {
    background: inc.$color-blu;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    padding: 3rem 0 6rem;
    position: relative;
    @include inc.mq(vr) {
      padding: 12rem 0 9rem;
    }
    &::after {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 0;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: url(../img/footer/hand.png) no-repeat;
      background-size: 240px;
      background-position: -15% 150%;
      mix-blend-mode: multiply;
      @include inc.mq(vr) {
        background-size: 570px 718px;
        background-position: 90% 10%;
      }
    }
    &-inner {
      position: relative;
      z-index: 1;
    }
    &-text {
      color: inc.$color-wht;
      @include inc.sizingRem(font-size, wide, 39px, sp, 24px);
      font-weight: 700;
      text-align: center;
      margin: 0 auto 3rem;
      @include inc.mq(vr) {
        margin: 0 auto 2.5rem;
      }
    }
    &-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: .8rem 0;
      @include inc.mq(vr) {
        gap:0;
      }
      &-item {
        width: 100%;
        height: 60px;
        border-radius: 30px;
        list-style-type: none;
        @include inc.mq(vr) {
          width: 48%;
          height: 5rem;
          border-radius: 2.5rem;
        }
        span {
          color: inc.$color-blu;
          font-weight: 700;
          width: 100%;
          height: 100%;
          padding: 0 2rem;
          display:flex;
          flex-direction:column;
          justify-content:center;
          @include inc.sizingRem(font-size, wide, 22px, sp, 16px);
          @include inc.mq(vr) {
            padding: 0 3rem;
          }
        }
        &.-white {
          -webkit-transition: all 0.1s ease-out;
          transition: all 0.1s ease-out;
          transition: background-color 0.3s linear;
          background: inc.$color-wht;
          border: 1px solid inc.$color-wht;
          position: relative;
          &::after {
            content: "";
            width: 15px;
            height: 15px;
            background: url(../img/arw/blue_right.svg) no-repeat 50% 50%;
            background-size: contain;
            position: absolute;
            right: 11%;
            top: 50%;
            transform: translate(0, -50%);
            -webkit-transition: all 0.3s ease-out;
            transition: all 0.3s ease-out;
          }
          @include inc.mq(vr) {
            &::after {
              width: 20px;
              height: 20px;
            }
          }
          @media (hover: hover) {
            &:hover {
              background-color: inc.$color-blu;
              span {
                color: inc.$color-wht;
              }
              &::after {
                right: 10.5%;
              }
            }
          }
        }
        &.-yellow {
          -webkit-transition: all 0.1s ease-out;
          transition: all 0.1s ease-out;
          transition: background-color 0.3s linear;
          background: inc.$color-yel;
          position: relative;
          &::after {
            content: "";
            width: 18px;
            height: 18px;
            background: url(../img/icon/blue_blank.svg) no-repeat 50% 50%;
            background-size: contain;
            position: absolute;
            right: 11%;
            top: 50%;
            transform: translate(0, -50%);
            -webkit-transition: all 0.3s ease-out;
            transition: all 0.3s ease-out;
          }
          @include inc.mq(vr) {
            &::after {
              width: 20px;
              height: 20px;
            }
          }
          @media (hover: hover) {
            &:hover {
              background-color: inc.$color-light-yel;
              &::after {
                right: 10.5%;
              }
            }
          }
        }
      }
      &-faq {
        margin: 2.5rem auto 0;
        text-align: center;
        @include inc.mq(vr) {
          margin: 4rem auto 0;
        }
        a {
          span {
            color:inc.$color-wht;
            @include inc.sizingRem(font-size, wide, 18px, sp, 14px);
            padding: 0 1.6rem 4px 0;
            position: relative;
            border-bottom: 1px solid inc.$color-wht;
            @include inc.mq(vr) {
              padding: 0 2rem 5px 0;
            }
            &::after {
              -webkit-transition: all 0.1s ease-out;
              transition: all 0.1s ease-out;
              content: "";
              width: 15px;
              height: 15px;
              background: url(../img/arw/white_right.svg) no-repeat 0 0;
              background-size: 15px;
              position: absolute;
              right: 0;
              top: 3px;
              @include inc.mq(vr) {
                width: 20px;
                height: 20px;
                background-size: 20px;
                top: 5px;
              }
            }
            @media (hover: hover) {
              &::before {
                -webkit-transition: all 0.1s ease-out;
                transition: all 0.1s ease-out;
                content: "";
                height: 1px;
                width: 100%;
                position: absolute;
                display: block;
                bottom: -1px;
                left: 0;
                background-color: inc.$color-blu;
                -webkit-transform: scale(0, 1);
                transform: scale(0, 1);
                -webkit-transform-origin: left top;
                transform-origin: left top;
              }
              &:hover::before {
                -webkit-transform: scale(1, 1);
                transform: scale(1, 1);
              }
            }
          }
          @media (hover: hover) {
            &:hover {
              span {
                &::after {
                  right: -2px;
                }
              }
            }
          }
        }
      }
    }
  }
  &__inner-sitemap {
    display: block;
    justify-content: space-between;
    padding: 3rem 0 3.5rem;
    @include inc.mq(vr) {
      display: flex;
      padding: 4rem 0 6rem;
    }
  }
  &__inner-logo {
    width: 100%;
  }
  &__logo {
    position: relative;
    @include inc.sizing(width, wide, 345px, tab, 330px);
    //width: 345px;
    & > img {
      @include inc.mq(vr) {
        height: 53px;
      }
      height: 31px;
      width: auto;
    }
    &::after {
      content: "採用サイト";
      @include inc.sizingRem(font-size, wide, 18px, sp, 10px);
      color: inc.$color-blk;
      font-weight: 700;
      position: absolute;
      left: 13.5rem;
      bottom: 0px;
      @include inc.mq(vr) {
        left: auto;
        right: -6.4rem;
        bottom: -2px;
      }
    }
  }
  &__inner-list {
    width: 100%;
    justify-content: space-between;
    @include inc.mq(vr) {
      display: flex;
      width: 60%;
      margin-right: 6rem;
    }
  }
  &__list {
    width: 100%;
    @include inc.mq(vr) {
      width: auto;
    }
  }
  &__list-item {
    display: flex;
    flex-wrap: wrap;
    gap: .5rem 4%;
    @include inc.mq(vr) {
      display: block;
    }
    dt {
      width: 100%;
      margin: 1.5rem 0 0.2rem;
      @include inc.sizingRem(font-size, wide, 20px, sp, 15px);
      font-weight: 700;
      @include inc.mq(vr) {
        width: auto;
        margin: 0;
      }
    }
    dd{
      width: 48%;
      @include inc.mq(vr) {
        width: auto;
      }
      @include inc.sizingRem(font-size, wide, 14px, sp, 12px);
      a {
        color: inc.$color-gry;
      }
      &.-sp {
        width: auto;
      }
    }
    dt + dd {
      margin-top: 0;
      @include inc.mq(vr) {
        margin-top: 1rem;
      }
    }
    dd + dd {
      @include inc.mq(vr) {
        margin-top: .8rem;
      }
    }
  }
  &__list-item + &__list-item {
    @include inc.mq(vr) {
      margin-top: 2.2rem;
    }
  }
  &__inner-bottom {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between
  }
  &__bottom {
    order: 2;
    line-height: 1;
    @include inc.mq(vr) {
      order: 1;
    }
    & > small {
      font-family: "Montserrat", sans-serif;
      @include inc.sizingRem(font-size, wide, 12px, sp, 8px);
    }
  }
  &__corporate {
    @include inc.sizingRem(font-size, wide, 16px, sp, 12px);
    display: flex;
    justify-content: end;
    gap: 0 1.5rem;
    order: 1;
    margin: 0 0 1rem!important;
    @include inc.mq(vr) {
      gap: 0 2rem;
      order: 2;
      margin-bottom: 0!important;
      margin-right: 6rem!important;
    }
    li {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
  }
}





