@charset 'UTF-8';
@use "../../inc/" as inc;
/*
p-faq
-----------------------------------------------------*/
.p-faq {
  // &__card {
  //   background-color: #edf6f5;
  //   border-radius: 10px;
  //   @include inc.sizing(margin-bottom, wide, 30px, sp, 15px);
  & > dl {
    & > div {
      & > dt {
        @include inc.sizing(padding-left, wide, 76px, sp, 48px);
        @include inc.sizing(padding-right, wide, 24px, sp, 12px);
        @include inc.sizing(padding-top, wide, 24px, sp, 12px);
        @include inc.sizing(padding-bottom, wide, 24px, sp, 12px);
        @include inc.sizing(margin-bottom, wide, 16px, sp, 12px);
        @include inc.sizing(border-radius, wide, 8px, sp, 4px);
        background: inc.$color-light-blu;
        & span {
          @include inc.sizingRem(font-size, wide, 24px, sp, 18px);
          @include inc.sizing(line-height, wide, 32px, sp, 24px);
          font-weight: 700;
          position: relative;
          &:before {
            content: "Q";
            @include inc.sizingRem(font-size, wide, 29px, sp, 22px);
            color: inc.$color-blu;
            font-weight: 700;
            line-height: 1rem;
            position: absolute;
            top: 5px;
            left: -2rem;
            @include inc.mq(tab) {
              top: 8px;
              left: -2.8rem;
            }
          }
        }
      }
      & > dd {
        @include inc.sizing(padding-left, wide, 76px, sp, 48px);
        @include inc.sizing(padding-right, wide, 16px, sp, 8px);
        position: relative;
        & span {
          @include inc.sizingRem(font-size, wide, 16px, sp, 14px);
          @include inc.sizing(line-height, wide, 32px, sp, 24px);
          position: relative;
          &:before {
            content: "A";
            @include inc.sizingRem(font-size, wide, 29px, sp, 22px);
            font-weight: 700;
            line-height: 1rem;
            position: absolute;
            top: 3px;
            left: -1.9rem;
            @include inc.mq(tab) {
              top: 3px;
              left: -2.7rem;
            }
          }
        }
      }
    & + div {
      @include inc.sizing(margin-top, wide, 48px, sp, 32px);
    }
    }
  }
}
