@charset 'UTF-8';
@use "../../inc/" as inc;
/*
p-guideline
-----------------------------------------------------*/
.p-guideline {
  & > dl {
    & > div {
        display: flex;
        flex-wrap: wrap;
        border-top: 1px solid inc.$color-light-blu2;
        @include inc.sizing(padding-top, wide, 16px, sp, 16px);
        @include inc.sizing(padding-bottom, wide, 16px, sp, 16px);
      & > dt {
        width: 100%;
        margin-bottom: 1rem;
        font-weight: 700;
        @include inc.sizing(padding-left, wide, 32px, tab, 0px);
        @include inc.sizing(padding-right, wide, 16px, tab, 0px);
        @include inc.mq(tab) {
          width: 25%;
          margin-bottom: 0rem;
        }
      }
      & > dd {
        width: 100%;
        @include inc.mq(tab) {
          width: 75%;
        }
        & > ul {
          margin: 0;
          padding-left: 1.2rem;
        }
        & > p {
          &:last-child {
            padding-bottom: 0;
            margin-bottom: 0;
          }
        }
        & > dl {
          & > div {
            display: flex;
            flex-wrap: wrap;
            padding: 0 0 .5rem 0;
            &:last-child {
              padding-bottom: 0;
              margin-bottom: 0;
            }
            & > dt {
              width: auto;
            }
            & > dd {
              width: auto;
            }
          }
        }
      }
    }
  }
  &--flow {
    list-style-type: none;
    width: 100%;
    margin: 0 auto!important;
    @include inc.mq(tab) {
      width: 70%;
    }
    li {
      background: inc.$color-light-blu;
      @include inc.sizingRem(font-size, wide, 20px, sp, 16px);
      line-height: 1rem;
      text-align: center;
      font-weight: 700;
      @include inc.sizing(padding-top, wide, 20px, sp, 12px);
      @include inc.sizing(padding-bottom, wide, 20px, sp, 12px);
      @include inc.sizing(border-radius, wide, 8px, sp, 4px);
      margin: 0 0 32px 0;
      position: relative;
      &:not(:last-child)::after {
        content: "";
        display: block;
        width: 20px;
        height: 12px;
        border-style: solid;
        border-width: 12px 10px 0 10px;
        border-color: #1b5ec3 transparent transparent transparent;
        position: absolute;
        left: calc(50% - 10px);
        bottom: -22px;
      }
    }
  }
}
