@charset 'UTF-8';
@use "../../inc/" as inc;
/*
p-guideline
-----------------------------------------------------*/
.p-guideline {
  & > dl {
    & > div {
        display: flex;
        flex-wrap: wrap;
        border-top: 1px solid inc.$color-light-blu2;
        @include inc.sizing(padding-top, wide, 16px, sp, 16px);
        @include inc.sizing(padding-bottom, wide, 16px, sp, 16px);
      & > dt {
        width: 100%;
        margin-bottom: 1rem;
        font-weight: 700;
        @include inc.sizing(padding-left, wide, 32px, tab, 0px);
        @include inc.sizing(padding-right, wide, 16px, tab, 0px);
        @include inc.mq(tab) {
          width: 25%;
          margin-bottom: 0rem;
        }
      }
      & > dd {
        width: 100%;
        @include inc.mq(tab) {
          width: 75%;
        }
        & > ul {
          margin: 0;
          padding-left: 1.2rem;
        }
        & > p {
          &:last-child {
            padding-bottom: 0;
            margin-bottom: 0;
          }
          span {
            @include inc.sizingRem(font-size, wide, 14px, sp, 13px);
            padding-top: .6rem;
            display: block;
            line-height: 1.6;
          }
        }
        & > dl {
          & > div {
            display: flex;
            flex-wrap: wrap;
            padding: 0 0 .5rem 0;
            &:last-child {
              padding-bottom: 0;
              margin-bottom: 0;
            }
            & > dt {
              width: auto;
            }
            & > dd {
              width: auto;
            }
          }
        }
      }
    }
    & + .c-text--h3 {
      @include inc.sizing(margin-top, wide, 48px, sp, 32px);
      @include inc.sizing(margin-bottom, wide, 32px, sp, 24px);
    }
  }
  &--flow {
    list-style-type: none;
    width: 100%;
    margin: 0 auto!important;
    @include inc.mq(tab) {
      width: 70%;
    }
    li {
      background: inc.$color-light-blu;
      @include inc.sizingRem(font-size, wide, 20px, sp, 16px);
      line-height: 1rem;
      text-align: center;
      font-weight: 700;
      @include inc.sizing(padding-top, wide, 20px, sp, 12px);
      @include inc.sizing(padding-bottom, wide, 20px, sp, 12px);
      @include inc.sizing(border-radius, wide, 8px, sp, 4px);
      margin: 0 0 32px 0;
      position: relative;
      &:not(:last-child)::after {
        content: "";
        display: block;
        width: 20px;
        height: 12px;
        border-style: solid;
        border-width: 12px 10px 0 10px;
        border-color: #1b5ec3 transparent transparent transparent;
        position: absolute;
        left: calc(50% - 10px);
        bottom: -22px;
      }
    }
  }
}


.btn-entry {
  margin: 0 auto;
  max-width: 400px;
  width: 100%;
  height: 5rem;
  border-radius: 2.5rem;
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
  transition: background-color 0.3s linear;
  background: inc.$color-yel;
  position: relative;
  a {
    span {
      color: #1B6EC3;
      font-weight: 700;
      width: 100%;
      height: 100%;
      padding: 0 2rem;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      font-size: clamp(1rem, 0.54vw + 0.84375rem, 1.375rem);
    }
    &::after {
      content: "";
      width: 20px;
      height: 20px;
      background: url(../img/arw/yellow_right.svg) no-repeat 50% 50%;
      background-size: contain;
      position: absolute;
      right: 11%;
      top: 50%;
      transform: translate(0, -50%);
      -webkit-transition: all 0.3s ease-out;
      transition: all 0.3s ease-out;
    }
    @include inc.mq(vr) {
      &::after {
        width: 20px;
        height: 20px;
      }
    }
    @media (hover: hover) {
      &:hover {
        background-color: inc.$color-light-yel;
        &::after {
          right: 10.5%;
        }
      }
    }
  }
  .caption {
    display: block;
    text-align: center;
    @include inc.sizingRem(font-size, wide, 13px, sp, 11px);
    margin-top: 10px;
  }
}

