@charset 'UTF-8';
@use "../../inc/" as inc;
/*
p-header
-----------------------------------------------------*/
.p-header {
  height: 60px!important;
  @include inc.mq(vr) {
    height: 100px!important;
  }
  // overscroll-behavior: contain;
  // overflow-y: scroll;
  // scrollbar-width: none;
  // -ms-overflow-style: none;
  // touch-action: none;
  display: flex;
  justify-content: space-between;
  padding: 0 3% 0 3%;
  &__logo {
    height: 60px!important;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 137px;
    @include inc.mq(tabs) {
      height: 80px!important;
      width: 206px;
    }
    @include inc.mq(vr) {
      height: 100px!important;
      width: 275px;
    }
    & > a {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      position: relative;
    }
    & > a > img {
      width: 100%;
      @include inc.mq(tab) {
        width: 100%;
        margin-top: -8px;
      }
      @include inc.mq(vr) {
        width: 100%;
        margin-top: -11px;
      }
      height: auto;
    }
    & > a::after {
      content: "採用サイト";
      font-size: 10px;
      @include inc.mq(tabs) {
        font-size: 14px;
      }
      @include inc.mq(vr) {
        font-size: 18px;
      }
      color: inc.$color-blk;
      font-weight: 700;
      position: absolute;
      right: -3.8rem;
      bottom: -2px;
      @include inc.mq(tabs) {
        right: -5.2rem;
        bottom: -2px;
      }
      @include inc.mq(vr) {
        right: -6.4rem;
        bottom: -2px;
      }
    }
  }

  &__nav-container { //グローバルナビ
    display: none;
    @include inc.sizingRem(font-size, wide, 16px, sp, 13px);
    height: 100px;
    @include inc.mq(vr) {
      display: flex;
      @include inc.sizing(width, wide, 930px, vr, 800px);
      margin-left: auto;
      margin-right: 0;
    }
  }
  &__nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__nav-list {
    width: calc(100% - (164px + 2rem));
    padding: 0;
    display: flex;
    justify-content: space-between;
  }
  &__nav-item {
    list-style-type: none;
  }
  &__nav-entry {
    width: 164px;
    height: 40px;
    border-radius: 20px;
    padding: 0 1.5rem;
    background: inc.$color-yel;
    -webkit-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out;
    transition: background-color 0.3s linear;
    span {
      height: 40px;
      position: relative;
      display:flex;
      flex-direction:column;
      justify-content:center;
      color:inc.$color-blu;
      @include inc.sizingRem(font-size, wide, 16px, sp, 16px);
      font-weight: 700;
      &::after {
        content: "";
        display: block;
        width: 13px;
        height: 12px;
        background: url(../img/icon/blue_blank.svg) no-repeat 0 0 ;
        position: absolute;
        right: 0;
        top: 38%;
        -webkit-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
      }
    }
    @media (hover: hover) {
      &:hover {
        background-color: inc.$color-light-yel;
        span {
          &::after {
            right: -2px;
          }
        }
      }
    }
  }
  &__nav-entry.-arw {
    span {
      &::after {
        width: 13px;
        height: 13px;
        background: url(../img/arw/yellow_right.svg) no-repeat 0 0 ;
      }
    }
  }
  //========================  SP  ========================//
  &__sp {
    position: fixed;
    display: flex;
    top: 0;
    right: 0;
    height: 60px;
    width: 60px;
    z-index: 101;
    align-items: center;
    @include inc.mq(tabs) {
      display: flex;
      top: 10px;
      right: 10px;
    }
    @include inc.mq(vr) {
      display: none;
    }
  }
  &__menu-button {
    display: block;
    width: 60px;
    height: 60px;
    position: fixed;
  }
  &__menu-design {
    position: relative;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    width: 27px;
    height: 21px;
    margin: -5px 0 0 16px;
    transform: translateZ(0);
    z-index: -1;
    & > span {
      transition: transform 0.2s ease-out;
      content: "";
      border-top: 1px solid inc.$color-blu;
      width: 27px;
      display: block;
    }
    & > span:nth-child(1) {
      margin-top: 8px;
    }
    & > span:nth-child(2) {
      margin-top: 5px;
    }
    & > span:nth-child(3) {
      margin-top: 5px;
    }
  }
  &__menu-design.active {
    & > span:nth-child(1) {
      transform: rotate(-30deg);
      margin-top: 4px;
    }
    & > span:nth-child(2) {
      display: none;
    }
    & > span:nth-child(3) {
      transform: rotate(30deg);
      margin-top: -1px;
    }
  }
}

.active.p-header {
  .p-header__nav-container {
    display: block;
    position: absolute;
    background: #fff;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 101vh;
    padding: 80px 12% 0
  }
  .p-header__nav {
    display: block;
  }
  .p-header__nav-list {
    display: block;
    width: 100%;
  }
  .p-header__nav-item {
    border-bottom: 1px solid inc.$color-blu;
    //padding: .8rem 1.2rem .8rem 0;
    //padding: .8rem 0 .8rem 0;
    background: url(../img/arw/blue_right.svg) no-repeat 99% 50%;
    background-size: 15px;
    a {
      display: block;
      padding: .8rem 0 .8rem 0;
      &:hover::after {
        display: none;
      }
      @include inc.mq(vr) {
        display: inline-block;
        padding: 0;
      }
    }
  }
  .p-header__nav-entry {
    width: 100%;
    height: 4rem;
    border-radius: 2rem;
    padding: 0 1.5rem;
    margin-top: 2rem;
  }
  .p-header__nav-entry span {
    height: 4rem;
  }
  .p-header__nav-entry span::after {
    top: 42%;
  }
}



@media (hover: hover) {
  .a-effect {
    position: relative;
  }
  .a-effect::after {
    -webkit-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out;
    content: "";
    height: 1px;
    width: 100%;
    position: absolute;
    display: block;
    bottom: -8px;
    left: 0;
    background-color: #333;
    -webkit-transform: scale(0, 1);
    transform: scale(0, 1);
    -webkit-transform-origin: left top;
    transform-origin: left top;
  }
  .a-effect:hover::after {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  .a-effect::after {
    -webkit-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out;
    content: "";
    height: 1px;
    width: 100%;
    position: absolute;
    display: block;
    bottom: -8px;
    left: 0;
    background-color: #333;
    -webkit-transform: scale(0, 1);
    transform: scale(0, 1);
    -webkit-transform-origin: left top;
    transform-origin: left top;
  }
  .p-footer__list-item .a-effect::after {
    bottom: -3px;
  }
  .l-nav .a-effect::after {
    bottom: -3px;
  }
}

