@charset 'UTF-8';
@use "../../inc/" as inc;
/*
p-katsuyou-point
-----------------------------------------------------*/
.p-katsuyou-point {
  border: 1px solid inc.$main-color;
  border-radius: 10px;
  @include inc.sizing(padding-top, wide, 33px, sp, 22px);
  @include inc.sizing(padding-right, wide, 47px, sp, 33px);
  @include inc.sizing(padding-left, wide, 47px, sp, 33px);
  @include inc.sizing(padding-bottom, wide, 33px, sp, 22px);

  &__point {
    color: inc.$main-color;
    @include inc.sizingRem(font-size, wide, 14px, sp, 10px);
    margin-bottom: 2em !important;
    padding-left: 2.6em;
    display: flex;
    align-items: center;
    &::before {
      content: "";
      display: inline-block;
      margin-left: -2.9em;
      margin-right: 0.3em;
      width: 28px;
      height: 21px;
      background-image: url(../img/hand-point-up.svg);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }
  }
  &__inner {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 2em;
    align-items: center;
    @include inc.mq(tab) {
      flex-direction: row;
      gap: auto;
    }
  }
  &__text {
    width: 100%;
    & > p:first-child {
      margin-bottom: 1em;
    }
    @include inc.mq(tab) {
      width: 64.3%;
    }
  }
  &__figure {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    & > img {
      width: 100%;
      height: auto;
    }
    @include inc.mq(tab) {
      width: 36.1%;
      align-items: flex-end;
      justify-content: flex-end;
    }
  }
  &__list {
    @include inc.sizingRem(font-size, wide, 18px, sp, 14px);
    @include inc.sizing(line-height, wide, 30px, sp, 24px);
    padding-left: 1.9em;
    position: relative;
  }
  &__list01 {
    &::before {
      content: "01";
      display: block;
      position: absolute;
      font-family: "Aboreto", cursive;
      font-weight: 400;
      letter-spacing: -0.05em;
      color: #cae7e4;
      @include inc.sizingRem(font-size, wide, 30px, sp, 24px);
      margin-left: -1.4em;
      top: 3px;
    }
  }
  &__list02 {
    &::before {
      content: "02";
      display: block;
      position: absolute;
      font-family: "Aboreto", cursive;
      font-weight: 400;
      letter-spacing: -0.05em;
      color: #cae7e4;
      @include inc.sizingRem(font-size, wide, 30px, sp, 24px);
      margin-left: -1.4em;
      top: 3px;
    }
  }
}
