@charset 'UTF-8';
@use "../../inc/" as inc;
/*
p-news
-----------------------------------------------------*/
.p-news {
  overflow-x: hidden;
  margin-bottom: 100px;
  &__tab-outer {
    @include inc.mq(sp) {
      @include inc.sizing(width, tab, 671px, sp, 338px);
    }
    @include inc.mq(tab) {
      position: relative;
      width: 100%;
    }
    position: absolute;
    right: 0;
    width: 92%;
    overflow-x: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  &__tab-container {
    @include inc.mq(tab) {
      margin-right: 0;
      justify-content: flex-end;
      @include inc.sizing(width, wide, 691px, tab, 535px);
    }
    z-index: 1;
    position: relative;
    margin-left: auto;
    display: flex;
    gap: 10px;
    justify-content: flex-start;
    @include inc.sizing(width, tab, 535px, sp, 422px);

    &--member {
      margin-right: auto;
      margin-left: 0;
      justify-content: flex-start;
    }
  }
  &__tab-item {
    & > button,
    & > a {
      position: relative;
      width: 100%;
      height: 100%;
    }
  }
  &__list {
    border-top: 1px solid #cccccc;
    margin-bottom: 41px;
    margin-top: 48px;
  }
  &__card {
    @include inc.mq(tab) {
      flex-wrap: nowrap;
    }
    display: flex;
    align-items: center;
    min-height: 76px;
    height: auto;
    border-bottom: 1px solid #cccccc;
    flex-wrap: wrap;
    padding: 13px 0;
    row-gap: 11px;
  }
  &__date {
    white-space: nowrap;
    @include inc.sizingRem(font-size, wide, 13px, sp, 11px);
    font-weight: 400;
    @include inc.sizing(margin-right, wide, 47px, sp, 13px);
  }
  &__tag {
    @include inc.sizing(margin-right, wide, 32px, sp, 10px);
  }
  &__item {
    @include inc.mq(tab) {
      width: 60%;
    }
    @include inc.sizingRem(font-size, wide, 16px, sp, 13px);
    @include inc.sizing(line-height, wide, 30px, sp, 24px);

    font-weight: 400;
    width: 100%;
  }
}
