@charset 'UTF-8';
@use "../../inc/" as inc;
/*
p-pager
-----------------------------------------------------*/
.p-pager {
  position: relative;
  @include inc.sizing(height, wide, 40px, sp, 30px);

  &__button {
    position: absolute;
    border-radius: 99px;
    border: 1px solid #ccc;
    @include inc.sizing(height, wide, 40px, sp, 30px);
    @include inc.sizing(width, wide, 95px, sp, 65px);
    font-weight: 400;
    @include inc.sizingRem(font-size, wide, 13px, sp, 11px);
    & > a {
      position: absolute;
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      @include inc.sizing(gap, wide, 11px, sp, 5px);
    }
  }
  &__prev {
    left: 0;
    & > a > p {
      @include inc.mq(tab) {
        margin: 0;
      }
      margin-top: -2px;
    }
    & > a > svg {
      transform: rotate(180deg);
    }
  }
  &__next {
    right: 0;
    & > a > p {
      @include inc.mq(tab) {
        margin: 0;
      }
      margin-top: -2px;
    }
  }
}
