@charset 'UTF-8';
@use "../../inc/" as inc;
/*
p-people
-----------------------------------------------------*/

.p-people {
  &--intro {
    display: block;
    @include inc.mq(tabs) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 2rem;
    }
    &--div {
      &.on {
        figure {
          img {
            opacity: 0;
            @include inc.mq(tabs) {
              opacity: 1;
            }
          }
        }
      }
      position: relative;
      display: block;
      width: 100%;
      margin: 0 auto;
      @include inc.mq(spl) {
        width: 80%;
      }
      @include inc.mq(tabs) {
        width: calc(39% + 3rem);
        padding-right: 3rem;
        margin: 0;
      }
      figure {
        margin: 0 0 24px;
        position: relative;
        width: 100%;
        padding-left: 0;
        padding-right: 30%;
        img {
          transition: .5s;
        }
        @include inc.mq(tabs) {
          width: 100%;
          padding-right:0;
        }
        figcaption {
          @include inc.sizing(width, wide, 160px, sp, 134px);
          @include inc.sizing(height, wide, 160px, sp, 134px);
          @include inc.sizingRem(font-size, wide, 14px, sp, 12px);
          border-radius: 50%;
          background: inc.$color-grn;
          color: inc.$color-wht;
          display: grid;
          justify-items: center;
          align-items: center;
          text-align: center;
          position: absolute;
          top: 24px;
          bottom: auto;
          right: calc(50% - 172px);
          @include inc.mq(spl) {
            top: 24px;
            bottom: auto;
            right: calc(50% - 172px);
          }
          @include inc.mq(tabs) {
            top: auto;
            bottom: -12px;
            right: -50px;
          }
        }
        // &.on {
        //   img {
        //     opacity: 0;
        //     @include inc.mq(tabs) {
        //       opacity: 1;
        //     }
        //   }
        // }
        &:hover {
          @include inc.mq(tabs) {
            img {
              opacity: 0;
            }
          }
        }
      }
      h2 {
        width: 40%;
        text-align: center;
        position: absolute;
        bottom: 6px;
        right: -10px;
        text-align: center;
        font-weight: 700;
        @include inc.sizingRem(font-size, wide, 21px, sp, 16px);
        span {
          display: block;
          @include inc.sizing(margin-top, wide, 12px, sp, 6px);
          font-weight: 500;
          @include inc.sizingRem(font-size, wide, 14px, sp, 12px);
          em {
            font-weight: 500;
            padding-right: 0px;
            display: block;
            @include inc.mq(tabs) {
              padding-right: 6px;
              display: inline-block;
            }
          }
        }
        @include inc.mq(tabs) {
          position: static;
          width: 100%;
        }
      }
      &.even {
        figure {
          padding-right: 0;
          padding-left: 30%;
          @include inc.mq(tabs) {
            padding-right:0;
            padding-left:0;
          }
          figcaption {
            left: calc(50% - 172px);
            @include inc.mq(spl) {
              top: 24px;
              bottom: auto;
              right: auto;
              left: calc(50% - 172px);
            }
            @include inc.mq(tabs) {
              top: auto;
              bottom: -12px;
              right: -50px;
              left: auto;
            }
          }
        }
        h2 {
          right: auto;
          bottom: 6px;
          left: -10px;
          @include inc.mq(tabs) {
            bottom: 32px;
            right: 0;
            left: auto;
          }
        }
      }
    }
    &--title.home {
      width: 100%;
      @include inc.mq(tabs) {
        width: calc(30% + 0rem);
        padding-right: 3rem;
        margin: 0;
      }
    }
    &--div.home {
      @include inc.mq(tabs) {
        width: calc(30% + 0rem);
        padding-right: 3rem;
        margin: 0;
      }
      figcaption {
        width: 134px;
        height: 134px;
        font-size: 12px;
        @include inc.mq(tabs) {
          @include inc.sizing(width, wide, 160px, tabs, 112px);
          @include inc.sizing(height, wide, 160px, tabs, 112px);
          @include inc.sizingRem(font-size, wide, 14px, tabs, 10px);
        }
      }
    }
    &--div.intro_01 {
      figure {
        background: url(../img/people/people01B.png) no-repeat 0% 50%;
        background-size: contain;
        @include inc.mq(tabs) {
          background-position: 50% 50%;
        }
      }
    }
    &--div.intro_02 {
      figure {
        background: url(../img/people/people02B.png) no-repeat 0% 50%;
        background-size: contain;
        @include inc.mq(tabs) {
          background-position: 50% 50%;
        }
        figcaption {
          background: inc.$color-grn2;
        }
      }
    }
    &--div.intro_03 {
      figure {
        background: url(../img/people/people03B.png) no-repeat 0% 50%;
        background-size: contain;
        @include inc.mq(tabs) {
          background-position: 50% 50%;
        }
        figcaption {
          background: inc.$color-blu2;
        }
      }
    }
    &--div.intro_04 {
      figure {
        background: url(../img/people/people04B.png) no-repeat 0% 50%;
        background-size: contain;
        @include inc.mq(tabs) {
          background-position: 50% 50%;
        }
        figcaption {
          background: inc.$color-blu3;
        }
      }
    }
    &--div.intro_05 {
      figure {
        background: url(../img/people/people05B.png) no-repeat 0% 50%;
        background-size: contain;
        @include inc.mq(tabs) {
          background-position: 50% 50%;
        }
        figcaption {
          background: inc.$color-blu4;
        }
      }
    }
    &--div.even {
      figure {
        background-position: 100% 50%;
      @include inc.mq(tabs) {
        background-position: 50% 50%;
      }
      }
    }

    &--other {
      gap: 2rem 1rem;
      @include inc.mq(tab) {
        padding-right: 2rem;
      }
      .p-people--intro--div {
        @include inc.mq(tab) {
          width: 20%;
          padding: 0;
        }
        figure {
          figcaption {
            @include inc.mq(tab) {
              width: 112px;
              height: 112px;
              font-size: 11px;
              bottom: -24px;
            }
          }
        }
      }
    }

  }
  &--bnr {
    background: url(../img/people/zadankai_bg.png) no-repeat 50% 0;
    background-size: cover;
    padding: 52px 0 0;
    text-align: center;
    &--title {
      text-align: center;
      margin: 0 auto 16px;
      padding: 0 12%;
      @include inc.mq(tab) {
        margin: 0 auto 20px;
        padding: 0;
      }
      img {
        display: block;
        margin: 0 auto;
      }
    }
    &--text {
      @include inc.sizingRem(font-size, wide, 16px, tabs, 12px);
      margin: 0 0 1rem;
      @include inc.mq(tab) {
        margin: 0 0 2rem;
      }
    }
    &--people {
      position: relative;
      z-index: 0;
      @include inc.mq(tab) {
        margin-top: -48px;
      }
    }
  }
  &--schedule {
    background: inc.$color-grn3;
    border-radius: 15px;
    padding: 32px 32px;
    @include inc.mq(spl) {
      padding: 52px 72px;
    }
    dl {
      @include inc.mq(tab) {
        column-count: 2;
      }
      div {
        display: flex;
        gap: 0 2.5rem;
        dt {
          padding: 10px 0;
          position: relative;
          width: 3rem;
          &::after {
            content: "";
            width: 9px;
            height: 9px;
            background: inc.$color-grn4;
            border-radius: 50%;
            position: absolute;
            right: -19px;
            top: 19px;
          }
        }
        dd {
          padding: 10px 0;
          position: relative;
          width: calc(100% - 6rem);
          @include inc.mq(spl) {
            width: auto;
          }
          &::before {
            content: "";
            width: 1px;
            height: 100%;
            background: inc.$color-grn4;
            position: absolute;
            top: 0;
            left: -26px;
          }
        }
        &:first-child {
          dd {
            &::before {
              top: 20px;
            }
          }
        }
        &:last-child {
          dd {
            &::before {
              top: -20px;
            }
          }
        }
      }
    }
  }
}

.people02 {
  .p-people--schedule {
    background: inc.$color-grn5;
    dl {
      div {
        dt::after {
          background: inc.$color-grn2;
        }
        dd::before {
          background: inc.$color-grn2;
        }
      }
    }
  }
}
.people03 {
  .p-people--schedule {
    background: inc.$color-grn6;
    dl {
      div {
        dt::after {
          background: inc.$color-blu2;
        }
        dd::before {
          background: inc.$color-blu2;
        }
      }
    }
  }
}
.people04 {
  .p-people--schedule {
    background: inc.$color-grn7;
    dl {
      div {
        dt::after {
          background: inc.$color-blu3;
        }
        dd::before {
          background: inc.$color-blu3;
        }
      }
    }
  }
}
.people05 {
  .p-people--schedule {
    background: inc.$color-grn8;
    dl {
      div {
        dt::after {
          background: inc.$color-blu4;
        }
        dd::before {
          background: inc.$color-blu4;
        }
      }
    }
  }
}