@charset 'UTF-8';
@use "../../inc/" as inc;
/*
p-publicity
-----------------------------------------------------*/
.p-publicity {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;

  @include inc.mq(tab) {
    flex-direction: row;
  }
  &__card {
    width: 100%;
    @include inc.mq(tab) {
      width: 48.6%;
    }
  }
  &__figure {
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    @include inc.sizing(margin-bottom, wide, 23px, sp, 15px);
    @include inc.sizing(width, wide, 544px, sp, 304px);
    @include inc.sizing(height, wide, 300px, sp, 168px);
    display: flex;
    justify-content: center;
    align-items: center;
    & > img {
      width: 100%;
      height: auto;
    }
    &--ale {
      & > img {
        width: 57%;
        height: auto;
      }
    }
    &--border {
      border: 1px solid #cccccc;
    }
  }
}
