@charset 'UTF-8';
@use "../../inc/" as inc;
/*
p-tag
-----------------------------------------------------*/
.p-tag {
  &--all {
    position: relative;
    border-radius: 99px;
    @include inc.sizing(width, wide, 128px, sp, 77px);
    height: 26px;
    background-color: inc.$main-background-color;
    border: 1px solid inc.$main-color;
    color: inc.$main-color;
    font-size: inc.rem(12);
    font-weight: 400;
    @include inc.mq(tab) {
      width: 128px;
    }
    & > button,
    & > a {
      position: absolute;
      display: flex;
      width: 100%;
      height: 100%;
      align-items: center;
      justify-content: center;
    }
  }
  &--news,
  &--campaign {
    position: relative;
    border-radius: 99px;
    @include inc.sizing(width, wide, 128px, sp, 88px);
    height: 26px;
    background-color: inc.$main-color;
    color: inc.$accent-text-color;
    font-size: inc.rem(12);
    font-weight: 400;
    @include inc.mq(tab) {
      width: 128px;
    }
    & > button,
    & > a {
      position: absolute;
      display: flex;
      width: 100%;
      height: 100%;
      align-items: center;
      justify-content: center;
    }
  }
  &--hosho,
  &--guarantee_system {
    position: relative;
    border-radius: 99px;
    @include inc.sizing(width, wide, 128px, sp, 80px);
    height: 26px;
    background-color: #7087d5;
    color: inc.$accent-text-color;
    font-size: inc.rem(12);
    font-weight: 400;
    @include inc.mq(tab) {
      width: 128px;
    }
    & > button,
    & > a {
      position: absolute;
      display: flex;
      width: 100%;
      height: 100%;
      align-items: center;
      justify-content: center;
    }
  }
  &--recruit,
  &--guarantee {
    position: relative;
    border-radius: 99px;
    @include inc.sizing(width, wide, 128px, sp, 80px);
    height: 26px;
    background-color: #a7bf42;
    color: inc.$accent-text-color;
    font-size: inc.rem(12);
    font-weight: 400;
    @include inc.mq(tab) {
      width: 128px;
    }
    & > button,
    & > a {
      position: absolute;
      display: flex;
      width: 100%;
      height: 100%;
      align-items: center;
      justify-content: center;
    }
  }
  &--important,
  &--others {
    position: relative;
    border-radius: 99px;
    @include inc.sizing(width, wide, 128px, sp, 112px);
    height: 26px;
    background-color: #e3a462;
    color: inc.$accent-text-color;
    font-size: inc.rem(12);
    font-weight: 400;
    @include inc.mq(tab) {
      width: 128px;
    }
    & > button,
    & > a {
      position: absolute;
      display: flex;
      width: 100%;
      height: 100%;
      align-items: center;
      justify-content: center;
    }
  }
  &__mini {
    z-index: -1;
    position: relative;
    font-size: inc.rem(10);
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    @include inc.mq(tab) {
      font-size: inc.rem(12);
      height: 26px;
      @include inc.sizing(width, wide, 128px, sp, 80px);
    }
    &--news {
      @include inc.sizing(width, wide, 74px, sp, 62px);
      @include inc.mq(tab) {
        @include inc.sizing(width, wide, 128px, sp, 88px);
      }
    }
    &--hosho {
      @include inc.sizing(width, wide, 67px, sp, 56px);
      @include inc.mq(tab) {
        @include inc.sizing(width, wide, 128px, sp, 80px);
      }
    }
    &--recuruit {
      @include inc.sizing(width, wide, 67px, sp, 56px);
      @include inc.mq(tab) {
        @include inc.sizing(width, wide, 128px, sp, 80px);
      }
    }
    &--important {
      @include inc.sizing(width, wide, 102px, sp, 86px);
      @include inc.mq(tab) {
        @include inc.sizing(width, wide, 128px, sp, 112px);
      }
    }
  }
}
