@charset 'UTF-8';
@use "../../inc/" as inc;
/*
p-top-service
-----------------------------------------------------*/
.p-top-service {
  position: relative;
  background-color: inc.$main-color;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  @include inc.sizing(padding-top, wide, 76px, sp, 24px);
  @include inc.sizing(padding-bottom, wide, 205px, sp, 100px);
  @include inc.sizing(border-radius, wide, 20px, sp, 15px);
  @include inc.sizing(margin-bottom, wide, 109px, sp, 44px);
  width: 100%;
  & > h2 {
    @include inc.sizingRem(font-size, wide, 35px, sp, 20px);
    color: inc.$accent-text-color;
    @include inc.sizing(margin-bottom, wide, 77px, sp, 26px);
    text-align: center;
  }
  &__container {
    width: 85.4%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 25px;
    @include inc.mq(tab) {
      row-gap: 34px;
    }
    &::after {
      content: "";
      display: block;
      height: 0;
      width: 100%;
      @include inc.mq(spl) {
        width: 48.1%;
      }
      @include inc.mq(tab) {
        width: 31.1%;
      }
    }
  }
  &__item {
    transition: all 0.3s ease-out;
    width: 100%;
    border-radius: 10px;
    border: 1px solid inc.$main-color;
    background-color: inc.$main-background-color;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    & > a {
      display: block;
      width: 100%;
      padding: 18px;
    }
    @include inc.mq(spl) {
      width: 48.1%;
    }
    @include inc.mq(tab) {
      width: 31.1%;
    }
    &:hover {
      box-shadow: none;
    }
  }
  &__lead {
    @include inc.sizingRem(font-size, wide, 12px, sp, 10px);
    @include inc.sizing(line-height, wide, 18px, sp, 15px);
    @include inc.sizing(margin-bottom, wide, 18px, sp, 15px);
    padding: 0.8em;
    background-color: #cae7e4;
    border-radius: 10px 10px 10px 0;
  }
  &__link {
    position: relative;
    @include inc.sizingRem(font-size, wide, 20px, sp, 16px);
    @include inc.sizing(line-height, wide, 29px, sp, 23px);
    @include inc.sizing(margin-bottom, wide, 25px, sp, 18px);
    font-weight: 700;
    padding-left: 0.9em;
    width: fit-content;
    &::before {
      content: "";
      position: absolute;
      transform: translateY(-50%);
      top: 57%;
      left: 0;
      display: inline-block;
      width: 6.1px;
      height: 9.4px;
      background-image: url(../img/v.svg);
      background-repeat: no-repeat;
      background-size: contain;
    }
    &::after {
      width: calc(100% - 1em);
      left: 1em;
    }
  }
  &__check {
    display: flex;
    flex-wrap: wrap;
    column-gap: 1em;
    & > p {
      position: relative;
      @include inc.sizingRem(font-size, wide, 13px, sp, 10px);
      @include inc.sizing(line-height, wide, 23px, sp, 16px);
      font-weight: 400;
      padding-left: 17px;
      &::before {
        content: "";
        position: absolute;
        transform: translateY(-50%);
        top: 57%;
        left: 0;
        display: inline-block;
        width: 14.6px;
        height: 14.6px;
        background-image: url(../img/check-circle.svg);
        background-repeat: no-repeat;
        background-size: contain;
      }
    }
  }
}
