@charset 'UTF-8';
@use "../../inc/" as inc;
/*
p-top-banner
-----------------------------------------------------*/
.p-top-banner {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 15px;
  @include inc.mq(tab) {
    flex-direction: row;
    justify-content: space-between;
    gap: 2%;
  }
  & > figure {
    @include inc.mq(lap) {
      width: 48.9%;
    }
    width: 100%;
    & > a {
      width: 100%;
      > img {
        width: 100%;
        height: auto;
      }
    }
  }
}
