@charset 'UTF-8';
@use "../../inc/" as inc;
/*
p-top-news
-----------------------------------------------------*/
.p-top-news {
  @include inc.mq(lap) {
    margin: 0 auto 100px;
  }
  @include inc.mq(sp) {
    @include inc.sizing(width, wide, 1120px, sp, 305px);
  }
  overflow-x: visible;
  margin: 0 auto 60px;
  padding-top: 20px;

  &__more {
    @include inc.sizing(width, wide, 135px, sp, 109px);
    margin-left: auto;
    margin-right: 0;
  }
  & > h2 {
    @include inc.mq(lap) {
      margin-bottom: 0;
    }
    @include inc.sizingRem(font-size, wide, 25px, sp, 16px);
    margin-bottom: 24px;
    margin-left: -11px;
  }
  &__tab-outer {
    width: 102%;
    @include inc.mq(sp) {
      @include inc.sizing(width, tab, 671px, sp, 339px);
    }
    @include inc.mq(tab) {
      right: 0;
      width: 100%;
    }
    @include inc.mq(lap) {
      margin-top: -31px;
    }
  }
  &__list {
    @include inc.mq(tab) {
      margin-top: 48px;
    }
    margin-top: 78px;
    &--all,
    &--news,
    &--hosho,
    &--recruit,
    &--important {
      display: none;
      &.active {
        display: block;
      }
    }
  }
}
