@charset 'UTF-8';
@use "../../inc/" as inc;
/*
p-text-box
-----------------------------------------------------*/
.p-text-box {
  @include inc.sizing(margin-bottom, wide, 100px, sp, 80px);
  &--bluBox {
    border-style: solid;
    border-color: inc.$color-light-blu;
    @include inc.sizing(border-width, wide, 7px, sp, 3px);
    @include inc.sizing(border-radius, wide, 16px, sp, 8px);
    &--h2 {
      @include inc.sizingRem(font-size, wide, 30px, sp, 16px);
      @include inc.sizing(line-height, wide, 42px, sp, 28px);
      font-weight: 700;
      color:inc.$color-blu;
      text-align: center;
      background: inc.$color-light-blu;
      @include inc.sizing(padding-top, wide, 24px, sp, 16px);
      @include inc.sizing(padding-bottom, wide, 32px, sp, 20px);
      padding-left: 1rem;
      padding-right: 1rem;
      span {
        @include inc.sizingRem(font-size, wide, 14px, sp, 12px);
        display: block;
        font-weight: 500;
        @include inc.sizing(margin-bottom, wide, 18px, sp, 0px);
      }
      br {
        display: block;
        @include inc.mq(tab) {
          display: none;
        }
      }
    }
    &--inner {
      @include inc.sizing(padding, wide, 48px, sp, 24px);
    }
    &--fig {
      display: block;
      @include inc.mq(tab) {
        display: flex;
        justify-content: space-between;
        gap: 1.5rem 2.5rem;
      }
      figure {
        display: block;
        order: 1;
        @include inc.mq(tab) {
          display: none;
          order: 2;
        }
        img {
          margin: 0 auto 1rem;
          //width: 50%;
          height: 160px;
          width: auto;
          @include inc.mq(tab) {
            margin: 0;
            width: 100%;
            height: auto;
          }
        }
      }
    }
    &--dl {
      @include inc.sizing(margin-bottom, wide, 48px, sp, 32px);
      order: 2;
      padding-right: 0;
      @include inc.mq(tab) {
        order: 1;
        padding-right: 200px;
      }
    }
    &--dl > div {
      display: flex;
      gap: 1rem 1.5rem;
      & + div {
        margin-top: 1rem;
      }
    }
    &--dt span {
      @include inc.sizingRem(font-size, wide, 14px, sp, 12px);
      @include inc.sizing(padding-top, wide, 6px, sp, 4px);
      @include inc.sizing(padding-bottom, wide, 6px, sp, 4px);
      background: inc.$color-light-blu;
      border-radius: 2rem;
      display: inline-block;
      width: 5.5rem;
      text-align: center
    }
    &--dd {
      @include inc.sizingRem(font-size, wide, 16px, sp, 14px);
      line-height: 2;
    }
    // &--flow--outer {
    //   margin-top: -48px;
    // }
    &--flow {
      position: relative;
    }
    &--flow + &--flow {
      @include inc.sizing(margin-top, wide, 64px, sp, 48px);
    }
    &--flow + &--flow::before {
      content: "";
      width: 26px;
      height: 16px;
      border-style: solid;
      border-width: 16px 13px 0 13px;
      border-color: #1b6fc3 transparent transparent transparent;
      position: absolute;
      top: -26px;
      left: calc(50% - 13px);
      @include inc.mq(lap) {
        width: 32px;
        height: 22px;
        border-width: 22px 16px 0 16px;
        top: -32px;
        left: calc(50% - 16px);
      }
    }
    & + .p-text-box--bluBox {
      @include inc.sizing(margin-top, wide, 32px, sp, 28px);
    }
  }
}

#about {
  .p-text-box {
    &--bluBox {
      &--h2 {
        @include inc.sizing(padding-top, wide, 18px, sp, 12px);
        @include inc.sizing(padding-bottom, wide, 24px, sp, 16px);
        @include inc.sizingRem(font-size, wide, 20px, sp, 16px);
      }
    }
  }
}

#case01,
#case02,
#case03,
#case04,
#case05,
#case06,
#case07,
#case08 {
  .case_img {
    position: relative;
    &::after {
      content: "";
      width: 200px;
      height: 200px;
      background: url(../img/case/case_01.png) no-repeat 50% 50%;
      background-size: contain;
      position: absolute;
      right: 0;
      bottom: 0;
      display: none;
      @include inc.mq(tab) {
        display: block;
      }
    }
  }
}
#case02 {
  .case_img {
    &::after {
      background: url(../img/case/case_02.png) no-repeat 50% 50%;
      background-size: contain;
    }
  }
}
#case03 {
  .case_img {
    &::after {
      background: url(../img/case/case_03.png) no-repeat 50% 50%;
      background-size: contain;
    }
  }
}
#case04 {
  .case_img {
    &::after {
      background: url(../img/case/case_04.png) no-repeat 50% 50%;
      background-size: contain;
    }
  }
}
#case05 {
  .case_img {
    &::after {
      background: url(../img/case/case_05.png) no-repeat 50% 50%;
      background-size: contain;
    }
  }
}
#case06 {
  .case_img {
    &::after {
      background: url(../img/case/case_06.png) no-repeat 50% 50%;
      background-size: contain;
    }
  }
}
#case07 {
  .case_img {
    &::after {
      background: url(../img/case/case_07.png) no-repeat 50% 50%;
      background-size: contain;
    }
  }
}
#case08 {
  .case_img {
    &::after {
      background: url(../img/case/case_08.png) no-repeat 50% 50%;
      background-size: contain;
    }
  }
}
