@charset 'UTF-8';
@use "../../inc/" as inc;
/*
p-usapokun-voice
-----------------------------------------------------*/
.p-usapokun-voice {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 58px;
  right: 0;
  @include inc.sizing(width, wide, 321px, sp, 230px);
  @include inc.sizing(margin-right, wide, 47px, sp, 16px);
  @include inc.mq(tab) {
    @include inc.sizing(top, wide, 81px, tab, 30px);
  }
  @include inc.mq(wide) {
    margin-right: calc(((100vw - 1502px) / 2) - 19px);
  }
  &--top {
    align-items: flex-start;
    top: auto;
    bottom: -34px;
    right: 40px;
    @include inc.sizing(width, wide, 383px, sp, 263px);
    margin-right: 0 !important;

    &__img {
      @include inc.sizing(width, wide, 106px, sp, 64px);
      @include inc.sizing(height, wide, 176px, sp, 106px);
      display: flex;
      align-items: center;
      & > img {
        width: 100%;
        height: auto;
        margin-top: -20px;
      }
    }
    &__container {
      border: none !important;
      margin-top: 33px;
      &::after {
        border: none !important;
      }
    }
  }
  &__container {
    background-color: inc.$main-background-color;
    position: relative;
    border: 1px solid inc.$border-color;
    border-radius: 5px;
    @include inc.sizing(padding, wide, 11px, sp, 8px);
    @include inc.sizing(width, wide, 262px, sp, 188px);
    &::before {
      content: "";
      position: absolute;
      border: 7px solid transparent;
      border-left: 7px solid inc.$main-background-color;
      transform: translateY(-50%);
      top: 50%;
      right: -13px;
      z-index: 2;
    }
    &::after {
      content: "";
      position: absolute;
      border: 8px solid transparent;
      border-left: 8px solid inc.$border-color;
      transform: translateY(-50%);
      top: 50%;
      right: -16px;
      z-index: 1;
    }
  }
  &__inner {
    @include inc.sizing(font-size, wide, 13px, sp, 9px);
    font-weight: 400;
    @include inc.sizing(width, wide, 240px, sp, 171px);
    overflow-x: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
      display: none;
    }
    & > p {
      white-space: nowrap;
      animation: text_scroll 10s linear infinite;
    }
  }
  &__img {
    @include inc.sizing(width, wide, 46px, sp, 35px);
    @include inc.sizing(height, wide, 76px, sp, 58px);
    display: flex;
    align-items: center;
    & > img {
      width: 100%;
      height: auto;
      margin-top: -20px;
    }
  }
}
@keyframes text_scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-300%);
  }
}
