@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Aboreto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shippori+Mincho:wght@600&display=swap");
/*
i-functions
-----------------------------------------------------*/
/*
i-setting
-----------------------------------------------------*/
a, img, a img {
  border: none;
  outline: none;
  text-decoration: none;
  color: #171717;
}

body {
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-weight: 500;
  color: #171717;
  background-color: #fff;
  position: relative;
  width: 100%;
  -webkit-font-smoothing: antialiased;
}

/*
i-mixin
-----------------------------------------------------*/
/*
index
-----------------------------------------------------*/
/*
l-wrapper
-----------------------------------------------------*/
.l-wrapper {
  max-width: 85rem;
  width: 100%;
  padding: 0 2rem;
  margin: 0 auto;
}
@media screen and (min-width: 1280px) {
  .l-wrapper {
    padding: 0 5%;
  }
}

.l-wrapper2 {
  max-width: 73rem;
  width: 100%;
  padding: 0 2rem;
  margin: 0 auto;
}

.l-wrapper3 {
  max-width: 56rem;
  width: 100%;
  padding: 0 2rem;
  margin: 0 auto;
}

/*
l-section
-----------------------------------------------------*/
/*
l-main
-----------------------------------------------------*/
/*
l-header
-----------------------------------------------------*/
.l-header {
  position: fixed;
  z-index: 11;
  width: 100%;
  top: 0;
  height: 60px;
  background-color: #fff;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}
@media screen and (min-width: 1280px) {
  .l-header {
    height: 100px;
  }
}

/*
l-footer
-----------------------------------------------------*/
.l-footer {
  width: 100%;
}

/*
l-nav
-----------------------------------------------------*/
/*
l-body
-----------------------------------------------------*/
.l-body {
  padding-top: 60px;
}
@media screen and (min-width: 1280px) {
  .l-body {
    padding-top: 100px;
  }
}

/*
c-text
-----------------------------------------------------*/
/*
c-arrow
-----------------------------------------------------*/
/*
c-br
-----------------------------------------------------*/
.c-br--tab {
  display: block;
}
@media screen and (min-width: 900px) {
  .c-br--tab {
    display: none;
  }
}
.c-br--tab-r {
  display: none;
}
@media screen and (min-width: 900px) {
  .c-br--tab-r {
    display: block;
  }
}
.c-br--lap {
  display: block;
}
@media screen and (min-width: 1025px) {
  .c-br--lap {
    display: none;
  }
}
.c-br--lap-r {
  display: none;
}
@media screen and (min-width: 1025px) {
  .c-br--lap-r {
    display: block;
  }
}
.c-br--640 {
  display: none;
}

@media screen and (min-width: 540px) {
  .c-br--640 {
    display: block;
  }
}
@media screen and (min-width: 640px) {
  .c-br--640 {
    display: none;
  }
}
/*
c-link
-----------------------------------------------------*/
/*
c-searchbox
-----------------------------------------------------*/
.c-searchbox {
  border-radius: 99px;
  border: 1px solid #1B6EC3;
  line-height: 49px;
  padding-left: 25px;
  width: 100%;
}

/*
c-icon
-----------------------------------------------------*/
.c-icon--blank::after {
  content: "";
  display: inline-block;
  height: 10px;
  width: 9px;
  background-image: url(../img/icon/gray_blank.svg);
  background-repeat: no-repeat;
  background-position: 100% 32%;
  background-size: contain;
  padding-right: 1rem;
}

/*
c-button
-----------------------------------------------------*/
/*
c-figure
-----------------------------------------------------*/
.c-figure--w3h2 {
  aspect-ratio: 3/2;
}

/*
p-footer
-----------------------------------------------------*/
.p-footer {
  padding: 0 0 2rem;
}
.p-footer__banner {
  background: #1B6EC3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3rem 0 6rem;
  position: relative;
}
@media screen and (min-width: 1280px) {
  .p-footer__banner {
    padding: 12rem 0 9rem;
  }
}
.p-footer__banner::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url(../img/footer/hand.png) no-repeat;
  background-size: 240px;
  background-position: -15% 150%;
  mix-blend-mode: multiply;
}
@media screen and (min-width: 1280px) {
  .p-footer__banner::after {
    background-size: 570px 718px;
    background-position: 90% 10%;
  }
}
.p-footer__banner-inner {
  position: relative;
  z-index: 1;
}
.p-footer__banner-text {
  color: #fff;
  font-size: clamp(1.5rem, 1.35vw + 1.1125rem, 2.4375rem);
  font-weight: 700;
  text-align: center;
  margin: 0 auto 3rem;
}
@media screen and (min-width: 1280px) {
  .p-footer__banner-text {
    margin: 0 auto 2.5rem;
  }
}
.p-footer__banner-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0.8rem 0;
}
@media screen and (min-width: 1280px) {
  .p-footer__banner-list {
    gap: 0;
  }
}
.p-footer__banner-list-item {
  width: 100%;
  height: 60px;
  border-radius: 30px;
  list-style-type: none;
}
@media screen and (min-width: 1280px) {
  .p-footer__banner-list-item {
    width: 48%;
    height: 5rem;
    border-radius: 2.5rem;
  }
}
.p-footer__banner-list-item span {
  color: #0075BC;
  font-weight: 700;
  width: 100%;
  height: 100%;
  padding: 0 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: clamp(1rem, 0.54vw + 0.84375rem, 1.375rem);
}
@media screen and (min-width: 1280px) {
  .p-footer__banner-list-item span {
    padding: 0 3rem;
  }
}
.p-footer__banner-list-item.-white {
  background: url(../img/arw/blue_right.svg) no-repeat calc(100% - 2rem) 50% #fff;
  background-size: 15px;
}
@media screen and (min-width: 1280px) {
  .p-footer__banner-list-item.-white {
    background-size: 20px;
    background-position: calc(100% - 3rem) 50%;
  }
}
.p-footer__banner-list-item.-yellow {
  background: url(../img/icon/blue_blank.svg) no-repeat calc(100% - 2rem) 53% #FFEA00;
}
@media screen and (min-width: 1280px) {
  .p-footer__banner-list-item.-yellow {
    background-size: 20px;
    background-position: calc(100% - 3rem) 50%;
  }
}
.p-footer__banner-list-faq {
  margin: 2.5rem auto 0;
  text-align: center;
}
@media screen and (min-width: 1280px) {
  .p-footer__banner-list-faq {
    margin: 4rem auto 0;
  }
}
.p-footer__banner-list-faq a span {
  color: #fff;
  font-size: clamp(0.875rem, 0.36vw + 0.775rem, 1.125rem);
  padding: 0 1.6rem 4px 0;
  position: relative;
  border-bottom: 1px solid #fff;
}
@media screen and (min-width: 1280px) {
  .p-footer__banner-list-faq a span {
    padding: 0 2rem 5px 0;
  }
}
.p-footer__banner-list-faq a span::after {
  content: "";
  width: 15px;
  height: 15px;
  background: url(../img/arw/white_right.svg) no-repeat 0 0;
  background-size: 15px;
  position: absolute;
  right: 0;
  top: 3px;
}
@media screen and (min-width: 1280px) {
  .p-footer__banner-list-faq a span::after {
    width: 20px;
    height: 20px;
    background-size: 20px;
    top: 5px;
  }
}
.p-footer__inner-sitemap {
  display: block;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2rem 0 3.5rem;
}
@media screen and (min-width: 1280px) {
  .p-footer__inner-sitemap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 4rem 0 6rem;
  }
}
.p-footer__inner-logo {
  width: 100%;
}
.p-footer__logo {
  position: relative;
  width: clamp(345px, 0vw + 345px, 345px);
}
.p-footer__logo > img {
  height: 31px;
  width: auto;
}
@media screen and (min-width: 1280px) {
  .p-footer__logo > img {
    height: 53px;
  }
}
.p-footer__logo::after {
  content: "採用サイト";
  font-size: clamp(0.625rem, 0.72vw + 0.41875rem, 1.125rem);
  color: #171717;
  font-weight: 700;
  position: absolute;
  left: 13.5rem;
  bottom: 0px;
}
@media screen and (min-width: 1280px) {
  .p-footer__logo::after {
    left: auto;
    right: -6.4rem;
    bottom: -2px;
  }
}
.p-footer__inner-list {
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (min-width: 1280px) {
  .p-footer__inner-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 60%;
    margin-right: 6rem;
  }
}
.p-footer__list {
  width: 100%;
}
@media screen and (min-width: 1280px) {
  .p-footer__list {
    width: auto;
  }
}
.p-footer__list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 0.5rem 0;
}
@media screen and (min-width: 1280px) {
  .p-footer__list-item {
    display: block;
  }
}
.p-footer__list-item dt {
  width: 100%;
  margin: 1.5rem 0 0.2rem;
  font-size: clamp(0.9375rem, 0.45vw + 0.80625rem, 1.25rem);
  font-weight: 700;
}
@media screen and (min-width: 1280px) {
  .p-footer__list-item dt {
    width: auto;
    margin: 0;
  }
}
.p-footer__list-item dd {
  width: 48%;
  font-size: clamp(0.75rem, 0.18vw + 0.7rem, 0.875rem);
}
@media screen and (min-width: 1280px) {
  .p-footer__list-item dd {
    width: auto;
  }
}
.p-footer__list-item dd a {
  color: #707070;
}
.p-footer__list-item dd.-sp {
  width: auto;
}
.p-footer__list-item dt + dd {
  margin-top: 0;
}
@media screen and (min-width: 1280px) {
  .p-footer__list-item dt + dd {
    margin-top: 1rem;
  }
}
@media screen and (min-width: 1280px) {
  .p-footer__list-item dd + dd {
    margin-top: 0.3rem;
  }
}
@media screen and (min-width: 1280px) {
  .p-footer__list-item + .p-footer__list-item {
    margin-top: 2.2rem;
  }
}
.p-footer__inner-bottom {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.p-footer__bottom {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  line-height: 1;
}
@media screen and (min-width: 1280px) {
  .p-footer__bottom {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}
.p-footer__bottom > small {
  font-family: "Montserrat", sans-serif;
  font-size: clamp(0.5rem, 0.36vw + 0.4rem, 0.75rem);
}
.p-footer__corporate {
  font-size: clamp(0.75rem, 0.36vw + 0.65rem, 1rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  gap: 0 1.5rem;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  margin: 0 0 1rem !important;
}
@media screen and (min-width: 1280px) {
  .p-footer__corporate {
    gap: 0 2rem;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-bottom: 0 !important;
    margin-right: 6rem !important;
  }
}
.p-footer__corporate li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/*
p-header
-----------------------------------------------------*/
.p-header {
  height: 100px;
  -ms-scroll-chaining: none;
      overscroll-behavior: contain;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  -ms-touch-action: none;
      touch-action: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 5%;
}
@media screen and (min-width: 1280px) {
  .p-header {
    padding: 0 2%;
  }
}
.p-header__logo {
  z-index: 1;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: clamp(137px, 0vw + 137px, 137px);
}
@media screen and (min-width: 1280px) {
  .p-header__logo {
    width: clamp(275px, 0vw + 275px, 275px);
    height: 100px;
    padding-left: 0;
  }
}
.p-header__logo > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: relative;
}
.p-header__logo > a > img {
  height: auto;
}
@media screen and (min-width: 1280px) {
  .p-header__logo > a > img {
    width: 65.9%;
    margin-top: -11px;
    margin-left: -20px;
  }
}
.p-header__logo > a::after {
  content: "採用サイト";
  font-size: clamp(0.625rem, 0.72vw + 0.41875rem, 1.125rem);
  color: #171717;
  font-weight: 700;
  position: absolute;
  right: -3.6rem;
  bottom: -1px;
}
@media screen and (min-width: 1280px) {
  .p-header__logo > a::after {
    right: -6.4rem;
    bottom: -2px;
  }
}
.p-header__nav-container {
  display: none;
  font-size: clamp(0.8125rem, 0.27vw + 0.7375rem, 1rem);
  height: 100px;
}
@media screen and (min-width: 1280px) {
  .p-header__nav-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: clamp(800px, 45.14vw + 222.2px, 930px);
    margin-left: auto;
    margin-right: 0;
  }
}
.p-header__nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.p-header__nav-list {
  width: calc(100% - (164px + 2rem));
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.p-header__nav-item {
  list-style-type: none;
}
.p-header__nav-entry {
  width: 164px;
  height: 40px;
  border-radius: 20px;
  padding: 0 1.5rem;
  background: #FFEA00;
}
.p-header__nav-entry span {
  height: 40px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #0075BC;
  font-size: clamp(1rem, 0vw + 1rem, 1rem);
  font-weight: 700;
}
.p-header__nav-entry span::after {
  content: "";
  display: block;
  width: 13px;
  height: 12px;
  background: url(../img/icon/blue_blank.svg) no-repeat 0 0;
  position: absolute;
  right: 0;
  top: 38%;
}
.p-header__sp {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  right: 0;
  height: 60px;
  width: 60px;
  z-index: 101;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 1280px) {
  .p-header__sp {
    display: none;
  }
}
.p-header__menu-button {
  display: block;
  width: 60px;
  height: 60px;
  position: fixed;
}
.p-header__menu-design {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 27px;
  height: 21px;
  margin: -5px 0 0 16px;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  z-index: -1;
}
.p-header__menu-design > span {
  -webkit-transition: -webkit-transform 0.2s ease-out;
  transition: -webkit-transform 0.2s ease-out;
  transition: transform 0.2s ease-out;
  transition: transform 0.2s ease-out, -webkit-transform 0.2s ease-out;
  content: "";
  border-top: 1px solid #1B6EC3;
  width: 27px;
  display: block;
}
.p-header__menu-design > span:nth-child(1) {
  margin-top: 8px;
}
.p-header__menu-design > span:nth-child(2) {
  margin-top: 5px;
}
.p-header__menu-design > span:nth-child(3) {
  margin-top: 5px;
}
.p-header__menu-design.active > span:nth-child(1) {
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
  margin-top: 4px;
}
.p-header__menu-design.active > span:nth-child(2) {
  display: none;
}
.p-header__menu-design.active > span:nth-child(3) {
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
  margin-top: -1px;
}

.active.p-header .p-header__nav-container {
  display: block;
  position: absolute;
  background: #fff;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 101vh;
  padding: 80px 12% 0;
}
.active.p-header .p-header__nav {
  display: block;
}
.active.p-header .p-header__nav-list {
  display: block;
  width: 100%;
}
.active.p-header .p-header__nav-item {
  border-bottom: 1px solid #2B68C9;
  padding: 0.8rem 1.2rem 0.8rem 0;
  background: url(../img/arw/blue_right.svg) no-repeat 99% 50%;
  background-size: 15px;
}
.active.p-header .p-header__nav-entry {
  width: 100%;
  height: 4rem;
  border-radius: 2rem;
  padding: 0 1.5rem;
  margin-top: 2rem;
}
.active.p-header .p-header__nav-entry span {
  height: 4rem;
}
.active.p-header .p-header__nav-entry span::after {
  top: 42%;
}

/*
p-top-head
-----------------------------------------------------*/
.p-top-head {
  width: 100%;
  position: relative;
}
.p-top-head__img {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  width: 100%;
  max-width: 1800px;
  margin: 0 auto;
  height: clamp(380px, 15.93vw + 306.7px, 470px);
  border-radius: clamp(15px, 0.45vw + 12.9px, 20px);
}
@media screen and (min-width: 540px) {
  .p-top-head__img {
    height: 380px;
  }
}
@media screen and (min-width: 1025px) {
  .p-top-head__img {
    height: clamp(450px, 31.31vw + 129.1px, 620px);
  }
}
.p-top-head__img::before {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  background-color: #333;
  opacity: 0.15;
  border-radius: 20px;
}
.p-top-head__img > img {
  width: 250%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 46%;
  left: 49.5%;
}
@media screen and (min-width: 540px) {
  .p-top-head__img > img {
    top: 49%;
    width: clamp(745px, 52.78vw + 460px, 1001px);
  }
}
@media screen and (min-width: 1025px) {
  .p-top-head__img > img {
    width: calc(73.3vw + 442.7px) !important;
    margin-top: -62px;
    top: 48%;
    left: 48%;
  }
}
@media screen and (min-width: 1568px) {
  .p-top-head__img > img {
    width: 101vw !important;
  }
}
.p-top-head__bunner {
  position: absolute;
  padding-top: clamp(7px, 1.53vw + 0px, 24px);
  padding-bottom: clamp(7px, 1.53vw + 0px, 24px);
  font-size: clamp(0.625rem, 0.36vw + 0.525rem, 0.875rem);
  width: 91.6%;
  line-height: 22px;
  background-color: #e1f4f2;
  color: #1B6EC3;
  border-radius: 5px;
  padding-left: 23px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 4%;
  left: 50%;
}
@media screen and (min-width: 900px) {
  .p-top-head__bunner {
    -webkit-transform: none;
            transform: none;
    width: 266px;
    padding-left: 42px;
    top: 10%;
    right: 5%;
    left: auto;
  }
}
.p-top-head__bunner > a {
  display: block;
  width: 100%;
  height: 100%;
}
.p-top-head__bunner > a > p {
  position: relative;
}
.p-top-head__bunner > a > p::before {
  content: " ";
  display: block;
  position: absolute;
  width: 9px;
  height: 9px;
  top: 6px;
  left: -12px;
  background-image: url(../img/v.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.p-top-head__text {
  position: absolute;
  color: #fff;
  font-size: clamp(1.25rem, 1.81vw + 0.725rem, 2.5rem);
  line-height: clamp(29px, 2.62vw + 16.9px, 58px);
  text-align: right;
  right: 11px;
  top: clamp(283px, 1.95vw + 263px, 272px);
}
@media screen and (min-width: 540px) {
  .p-top-head__text {
    top: 222px;
    right: 29px;
  }
}
@media screen and (min-width: 1025px) {
  .p-top-head__text {
    text-align: left;
    top: clamp(106px, 14.55vw - 43.1px, 185px);
    left: 104px;
    right: auto;
  }
}
@media screen and (min-width: 1568px) {
  .p-top-head__text {
    left: 130px;
  }
}
.p-top-head__box {
  margin-bottom: 29px;
  position: relative;
}
@media screen and (min-width: 1025px) {
  .p-top-head__box {
    margin-top: -135px !important;
    margin-bottom: 53px;
  }
}
.p-top-head__usapokun {
  margin-top: -93px;
  width: clamp(55px, 3.61vw + 38.4px, 95px);
}
@media screen and (min-width: 540px) {
  .p-top-head__usapokun {
    margin-top: -105px;
    width: 51px;
  }
}
@media screen and (min-width: 900px) {
  .p-top-head__usapokun {
    margin-top: -119px;
    width: clamp(55px, 3.61vw + 38.4px, 95px);
  }
}
@media screen and (min-width: 1025px) {
  .p-top-head__usapokun {
    margin-top: -59px;
    margin-left: -9px;
  }
}
.p-top-head__usapokun > img {
  width: 100%;
  height: auto;
}
.p-top-head__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 20px;
  background-color: #fff;
  border-radius: 0 10px 10px 0;
  width: 93%;
  max-width: 1376px;
  margin: -27px auto 0 0;
  padding: 11px 6.4% 34px 5.7%;
}
@media screen and (min-width: 540px) {
  .p-top-head__inner {
    padding: 43px 1.7% 76px 1%;
  }
}
@media screen and (min-width: 1025px) {
  .p-top-head__inner {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: -40px auto 0 auto;
    border-radius: 20px;
    padding: 43px 0 76px 4%;
    gap: 5.9%;
  }
}
.p-top-head__item-container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 23px;
}
@media screen and (min-width: 540px) {
  .p-top-head__item-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 0;
  }
}
.p-top-head__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 17px;
  width: 100%;
}
@media screen and (min-width: 540px) {
  .p-top-head__item {
    width: 49%;
    padding: 0;
  }
}
@media screen and (min-width: 1025px) {
  .p-top-head__item {
    width: 46.5%;
    padding-right: 7.56%;
  }
}
@media screen and (min-width: 1025px) {
  .p-top-head__item--01 {
    border-right: 1px solid #e6e6e6;
  }
}
.p-top-head__item-number {
  font-size: clamp(2.5rem, 5.42vw + 0.9375rem, 6.25rem);
  letter-spacing: -0.05em;
  font-family: "Aboreto", cursive;
  width: 14.6%;
  color: #cae7e4;
}
@media screen and (min-width: 540px) {
  .p-top-head__item-number {
    font-size: clamp(2.5rem, 3.09vw + 1.45625rem, 3.4375rem);
  }
}
@media screen and (min-width: 1025px) {
  .p-top-head__item-number {
    margin-top: -5px;
    width: auto;
    font-size: clamp(4.0625rem, 8.68vw - 2.88125rem, 5.625rem);
  }
}
@media screen and (min-width: 1280px) {
  .p-top-head__item-number {
    margin-top: -3px;
  }
}
.p-top-head__item-right {
  width: 78.4%;
}
@media screen and (min-width: 1025px) {
  .p-top-head__item-right {
    width: auto;
  }
}
.p-top-head__item-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
}
@media screen and (min-width: 540px) {
  .p-top-head__item-inner {
    gap: 20px;
  }
}
.p-top-head__item-inner > p {
  font-size: clamp(1.5625rem, 0.9vw + 1.30625rem, 2.1875rem);
  line-height: clamp(36px, 1.35vw + 29.8px, 51px);
  white-space: nowrap;
}
@media screen and (min-width: 540px) {
  .p-top-head__item-inner > p {
    font-size: clamp(1.375rem, 1.39vw + 0.90625rem, 1.6875rem);
    line-height: clamp(36px, 1.35vw + 29.8px, 51px);
  }
}
@media screen and (min-width: 900px) {
  .p-top-head__item-inner > p {
    font-size: clamp(1.5625rem, 0.9vw + 1.30625rem, 2.1875rem);
    line-height: clamp(36px, 1.35vw + 29.8px, 51px);
  }
}
.p-top-head__more {
  width: clamp(112px, 2.08vw + 102.4px, 135px);
}
@media screen and (min-width: 540px) {
  .p-top-head__more {
    width: clamp(158px, -14.72vw + 237.5px, 105px);
    font-size: 0.625rem;
  }
}
@media screen and (min-width: 900px) {
  .p-top-head__more {
    width: clamp(91px, 3.97vw + 72.8px, 135px);
    font-size: clamp(0.75rem, 0.08vw + 0.73125rem, 0.8125rem);
  }
}
.p-top-head__item-text {
  font-size: clamp(0.625rem, 0.54vw + 0.46875rem, 1rem);
  line-height: clamp(16px, 0.9vw + 11.9px, 26px);
  margin-top: 10px;
}
.p-top-head__notice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 1376px;
  margin: 0 auto 0 0;
  padding: 0 6.4% 0 5.7%;
}
@media screen and (min-width: 540px) {
  .p-top-head__notice {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 3%;
    padding: 43px 1.7% 0 1%;
  }
}
@media screen and (min-width: 1025px) {
  .p-top-head__notice {
    margin: -40px auto 0 auto;
    padding: 43px 0 0 4%;
  }
}
.p-top-head__notice-head {
  color: #ECF1FA;
  border: 1px solid #ECF1FA;
  border-radius: 10px;
  font-size: clamp(0.5rem, 0.45vw + 0.36875rem, 0.8125rem);
  height: clamp(27px, 1.17vw + 21.7px, 40px);
  padding: 0 1.2em;
  margin-bottom: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
  width: 120px;
}
@media screen and (min-width: 540px) {
  .p-top-head__notice-head {
    width: auto;
    margin-left: 3.5%;
  }
}
@media screen and (min-width: 1568px) {
  .p-top-head__notice-head {
    margin-left: 0;
  }
}
.p-top-head__notice-head::before {
  content: "";
  display: inline-block;
  height: 16px;
  width: 16px;
  background-image: url(../img/attention.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin-right: 6px;
}
.p-top-head__ticker-container {
  width: 65%;
  font-size: clamp(0.5625rem, 0.45vw + 0.43125rem, 0.875rem);
  line-height: clamp(27px, 1.17vw + 21.7px, 40px);
  height: clamp(27px, 1.17vw + 21.7px, 40px);
  overflow: hidden;
}
.p-top-head__ticker-container > ul {
  position: relative;
  height: 100%;
  padding: 0;
  margin: 0;
}
.p-top-head__ticker-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-right: 0;
  opacity: 0;
  font-weight: 400;
}
.p-top-head__ticker-item > a {
  display: inline-block;
  width: auto;
  white-space: nowrap;
  text-decoration: underline;
  -webkit-transition: -webkit-transform 5s linear;
  transition: -webkit-transform 5s linear;
  transition: transform 5s linear;
  transition: transform 5s linear, -webkit-transform 5s linear;
}
.p-top-head .fadeInDown {
  opacity: 0;
}
.p-top-head .fadeInDown.run {
  -webkit-animation: fadeInDown 0.3s cubic-bezier(0.645, 0.045, 0.355, 1) forwards;
          animation: fadeInDown 0.3s cubic-bezier(0.645, 0.045, 0.355, 1) forwards;
}
.p-top-head .fadeOutDown {
  opacity: 1;
}
.p-top-head .fadeOutDown.run {
  -webkit-animation: fadeOutDown 0.3s cubic-bezier(0.645, 0.045, 0.355, 1) forwards;
          animation: fadeOutDown 0.3s cubic-bezier(0.645, 0.045, 0.355, 1) forwards;
}
@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@-webkit-keyframes fadeOutDown {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
}
@keyframes fadeOutDown {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
}
@-webkit-keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

/*
p-text-box
-----------------------------------------------------*/
.p-text-box {
  margin-bottom: clamp(80px, 1.81vw + 71.6px, 100px);
}
.p-text-box > p:not(:last-child) {
  margin-bottom: 1em;
}
.p-text-box > ul > li:not(:last-child) {
  margin-bottom: 0.8em;
}
.p-text-box > p > a, .p-text-box > ul > li > a {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.p-text-box > p > a::after, .p-text-box > ul > li > a::after {
  -webkit-transition: all 0.09s ease-out;
  transition: all 0.09s ease-out;
  content: "";
  height: 1px;
  width: 100%;
  position: absolute;
  display: block;
  bottom: -10px;
  left: 0;
  background-color: #2B68C9;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transform-origin: left top;
          transform-origin: left top;
}
.p-text-box > p > a:hover::after, .p-text-box > ul > li > a:hover::after {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}
.p-text-box > ul > li > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.p-text-box > blockquote {
  padding: clamp(20px, 0.9vw + 15.9px, 30px);
  font-size: clamp(0.75rem, 0.18vw + 0.7rem, 0.875rem);
  line-height: clamp(22px, 0.36vw + 20.4px, 26px);
  font-weight: 400;
  background-color: #f3f3f3;
  margin-bottom: clamp(35px, 1.26vw + 29.2px, 49px);
}
.p-text-box div > ul {
  margin-bottom: clamp(35px, 1.26vw + 29.2px, 49px);
}
.p-text-box div > table {
  margin-bottom: clamp(35px, 1.26vw + 29.2px, 49px);
}
.p-text-box__figure {
  width: 100%;
  height: auto;
}
.p-text-box__figure > img {
  width: 100%;
  height: auto;
}
@media screen and (min-width: 1025px) {
  .p-text-box__figure--support {
    width: 50%;
  }
}
.p-text-box__ol {
  font-size: clamp(0.8125rem, 0.27vw + 0.7375rem, 1rem);
  line-height: clamp(24px, 0.72vw + 20.7px, 32px);
  font-weight: 400;
  list-style-type: decimal;
  padding-left: 1em;
  margin-bottom: 1em;
  margin-left: 1em;
}
.p-text-box__ul {
  list-style: "・";
  padding-left: 1em;
}
.p-text-box__ul > li {
  margin-bottom: 0 !important;
}
.p-text-box__vimeo {
  margin-top: clamp(33px, 2.98vw + 19.3px, 66px);
  margin-bottom: clamp(33px, 2.98vw + 19.3px, 66px);
}
.p-text-box__figure-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: clamp(15px, 0.99vw + 10.5px, 26px);
  width: 100%;
}
@media screen and (min-width: 540px) {
  .p-text-box__figure-box {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.p-text-box__figure-box > figure {
  padding-bottom: 2em;
  width: 100%;
}
@media screen and (min-width: 540px) {
  .p-text-box__figure-box > figure {
    width: 48%;
  }
}
.p-text-box__figure-box > figure > img {
  border-radius: clamp(5px, 0.45vw + 2.9px, 10px);
  aspect-ratio: 4/3;
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
.p-text-box__figure-box > figure > figcaption {
  font-size: clamp(0.625rem, 0.27vw + 0.55rem, 0.8125rem);
  margin-top: 1em;
}
.p-text-box__margin-bottom {
  margin-bottom: 3em !important;
}
.p-text-box__list-disc {
  list-style-type: "・";
  padding-left: 0.7em;
}
.p-text-box__indent {
  margin-top: clamp(20px, 0.9vw + 15.9px, 30px);
  padding-left: clamp(18px, 0.63vw + 15.1px, 25px);
}
.p-text-box__indent > h3 {
  margin-bottom: 0.5em;
}
.p-text-box__annotation {
  font-size: clamp(0.625rem, 0.27vw + 0.55rem, 0.8125rem);
  line-height: clamp(22px, 0.36vw + 20.4px, 26px);
  font-weight: 400;
}
.p-text-box__annotation > p {
  padding-left: 1.2em;
}
.p-text-box__annotation > p::before {
  content: "※";
  margin-left: -1.2em;
}
.p-text-box__annotation > p.p-text-box__annotation-head {
  padding-left: 0;
}
.p-text-box__annotation > p.p-text-box__annotation-head::before {
  content: none;
}

#counter:target {
  scroll-margin-top: 60px;
}
@media screen and (min-width: 1280px) {
  #counter:target {
    scroll-margin-top: 100px;
  }
}

/*
p-table
-----------------------------------------------------*/
.p-table {
  margin: 0 auto;
  width: 100%;
}
.p-table__body {
  width: 100%;
}
.p-table__body:first-child {
  border-top: 1px solid #2B68C9;
}
.p-table__body > tr {
  width: 100%;
  border-bottom: 1px solid #2B68C9;
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.p-table__head {
  line-height: 1.6em;
  width: 18.9%;
  font-size: clamp(0.8125rem, 0.27vw + 0.7375rem, 1rem);
}
@media screen and (min-width: 900px) {
  .p-table__head {
    line-height: clamp(30px, -0.9vw + 34.1px, 20px);
  }
}
.p-table__date {
  width: 50%;
}
@media screen and (min-width: 900px) {
  .p-table__date {
    width: 37%;
  }
}
.p-table__data {
  font-size: clamp(0.8125rem, 0.27vw + 0.7375rem, 1rem);
  line-height: 1.6em;
  font-weight: 400;
  width: 75%;
  word-break: break-all;
}
@media screen and (min-width: 900px) {
  .p-table__data {
    line-height: clamp(30px, -0.9vw + 34.1px, 20px);
  }
}
.p-table__data > img {
  width: 100%;
}
.p-table__data > .iframe-wrap {
  width: 100%;
}
.p-table__data > .iframe-wrap > iframe {
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
}
.p-table__data > figure {
  width: 100%;
}
.p-table__data > figure > img {
  width: 100%;
  height: auto;
}

/*
p-nav
-----------------------------------------------------*/
.p-nav--about {
  border-radius: 10px 0 0 10px;
  padding: 39px 32px;
  background-color: #edf6f5;
}
@media screen and (min-width: 1025px) {
  .p-nav--about {
    background-color: #fff;
  }
}
.p-nav--about__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: clamp(0.875rem, 0.18vw + 0.825rem, 1rem);
  line-height: clamp(20px, 0.36vw + 18.4px, 24px);
  gap: 28px;
  width: 81.3%;
  padding-left: 20px;
}
.p-nav--about__container > li > a {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
@media screen and (min-width: 900px) {
  .p-nav--about__container {
    gap: 24px;
  }
}
@media screen and (min-width: 1025px) {
  .p-nav--about__container {
    font-size: clamp(0.875rem, 0.37vw + 0.6375rem, 1rem);
    line-height: clamp(20px, 0.74vw + 12.4px, 24px);
  }
}
.p-nav--about__item {
  position: relative;
}
.p-nav--about__item::before {
  content: "";
  position: absolute;
  top: 6.5px;
  left: -20px;
  width: 10px;
  height: 10px;
  display: inline-block;
  background-color: #1B6EC3;
  border-radius: 99px;
  margin-right: 10px;
  opacity: 0.3;
}
@media screen and (min-width: 900px) {
  .p-nav--about__item::before {
    top: 8.5px;
  }
}
.p-nav--about__item.current::before {
  opacity: 1;
}
.p-nav--member {
  border-radius: 10px 0 0 10px;
  padding: 39px 32px;
  background-color: #cde4f8;
}
@media screen and (min-width: 1025px) {
  .p-nav--member {
    background-color: #fff;
  }
}
.p-nav--member__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: clamp(0.875rem, 0.18vw + 0.825rem, 1rem);
  line-height: clamp(20px, 0.36vw + 18.4px, 24px);
  gap: 28px;
  width: 81.3%;
  padding-left: 20px;
}
@media screen and (min-width: 900px) {
  .p-nav--member__container {
    gap: 24px;
  }
}
@media screen and (min-width: 1025px) {
  .p-nav--member__container {
    font-size: clamp(0.875rem, 0.37vw + 0.6375rem, 1rem);
    line-height: clamp(20px, 0.74vw + 12.4px, 24px);
  }
}
.p-nav--member__item {
  position: relative;
}
.p-nav--member__item::before {
  content: "";
  position: absolute;
  top: 6.5px;
  left: -20px;
  width: 10px;
  height: 10px;
  display: inline-block;
  background-color: #009EA7;
  border-radius: 99px;
  margin-right: 10px;
  opacity: 0.3;
}
@media screen and (min-width: 900px) {
  .p-nav--member__item::before {
    top: 8.5px;
  }
}
.p-nav--member__item.current::before {
  opacity: 1;
}
.p-nav--founding {
  display: none;
  border-radius: 10px 0 0 10px;
  padding: 39px 32px;
  background-color: #edf6f5;
}
@media screen and (min-width: 1025px) {
  .p-nav--founding {
    display: block;
    background-color: #1B6EC3;
  }
}
.p-nav--founding--sp {
  display: block;
}
@media screen and (min-width: 1025px) {
  .p-nav--founding--sp {
    display: none;
  }
}
.p-nav--founding__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: clamp(0.875rem, 0.18vw + 0.825rem, 1rem);
  line-height: clamp(20px, 0.36vw + 18.4px, 24px);
  gap: 28px;
  width: 81.3%;
  padding-left: 20px;
}
@media screen and (min-width: 900px) {
  .p-nav--founding__container {
    gap: 24px;
  }
}
@media screen and (min-width: 1025px) {
  .p-nav--founding__container {
    font-size: clamp(0.875rem, 0.37vw + 0.6375rem, 1rem);
    line-height: clamp(20px, 0.74vw + 12.4px, 24px);
  }
}
.p-nav--founding__item {
  position: relative;
  color: #171717;
}
@media screen and (min-width: 1025px) {
  .p-nav--founding__item {
    color: #fff;
  }
}
.p-nav--founding__item::before {
  content: "";
  position: absolute;
  top: 6.5px;
  left: -20px;
  width: 10px;
  height: 10px;
  display: inline-block;
  border-radius: 99px;
  margin-right: 10px;
  opacity: 0.3;
  background-color: #1B6EC3;
}
@media screen and (min-width: 900px) {
  .p-nav--founding__item::before {
    top: 8.5px;
  }
}
@media screen and (min-width: 1025px) {
  .p-nav--founding__item::before {
    background-color: #fff;
  }
}
.p-nav--founding__item.current::before {
  opacity: 1;
}

/*
p-breadcrumb
-----------------------------------------------------*/
.p-breadcrumb {
  position: relative;
  width: 100%;
  overflow-x: hidden;
  font-size: clamp(0.625rem, 0.18vw + 0.575rem, 0.75rem);
  margin-top: clamp(10px, 1.08vw + 5.1px, 22px);
  padding-left: clamp(25px, 3.07vw + 10.9px, 59px);
  color: #676767;
}
.p-breadcrumb__container {
  overflow-x: scroll;
  overflow-y: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.7em;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.p-breadcrumb__container::-webkit-scrollbar {
  display: none;
}
.p-breadcrumb__container > span {
  position: relative;
  white-space: nowrap;
  color: #999;
}
.p-breadcrumb__item {
  white-space: nowrap;
  position: relative;
}
.p-breadcrumb__item > span > a {
  position: relative;
}
.p-breadcrumb__item > span > a::after {
  -webkit-transition: all 0.09s ease-out;
  transition: all 0.09s ease-out;
  content: "";
  height: 1px;
  width: 100%;
  position: absolute;
  display: block;
  bottom: 1px;
  left: 0;
  background-color: #2B68C9;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transform-origin: left top;
          transform-origin: left top;
}
.p-breadcrumb__item > span > a:hover::after {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}
.p-breadcrumb__item::after {
  content: "＞";
  margin-left: 0.7em;
}
.p-breadcrumb__item > a {
  position: relative;
}
.p-breadcrumb__item > a::after {
  -webkit-transition: all 0.09s ease-out;
  transition: all 0.09s ease-out;
  content: "";
  height: 1px;
  width: 100%;
  position: absolute;
  display: block;
  bottom: 1px;
  left: 0;
  background-color: #2B68C9;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transform-origin: left top;
          transform-origin: left top;
}
.p-breadcrumb__item > a:hover::after {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

/*
p-link-box
-----------------------------------------------------*/
/*
p-faq
-----------------------------------------------------*/
.p-faq__card {
  background-color: #edf6f5;
  border-radius: 10px;
  margin-bottom: clamp(15px, 1.35vw + 8.8px, 30px);
}
.p-faq__card > dt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: clamp(22px, 0.72vw + 18.7px, 30px);
  padding-right: clamp(22px, 0.72vw + 18.7px, 30px);
  padding-top: clamp(20px, 0.9vw + 15.9px, 30px);
  padding-bottom: clamp(20px, 0.9vw + 15.9px, 30px);
}
.p-faq__card > dt > p {
  font-size: clamp(0.875rem, 0.54vw + 0.71875rem, 1.25rem);
  line-height: clamp(25px, 0.63vw + 22.1px, 32px);
  font-weight: 400;
  padding-left: 1.3em;
  width: 85%;
}
.p-faq__card > dt > p::before {
  content: "Q : ";
  margin-left: -1.3em;
}
.p-faq__card > dd {
  -webkit-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
  visibility: hidden;
  opacity: 0;
  padding: 0;
  height: 0;
  padding-left: clamp(22px, 3.7vw + 5px, 63px);
  padding-right: clamp(22px, 3.7vw + 5px, 63px);
}
.p-faq__card.active > dd {
  visibility: visible;
  opacity: 1;
  height: auto;
  padding-top: clamp(4px, -0.99vw + 19.6px, 15px);
  padding-bottom: clamp(20px, 0.9vw + 15.9px, 30px);
}
.p-faq__ol {
  margin-top: 1em;
  margin-left: 2em;
  list-style-type: decimal;
}
.p-faq__button {
  height: clamp(27px, 1.17vw + 21.7px, 40px);
  width: clamp(27px, 1.17vw + 21.7px, 40px);
  border-radius: 99px;
  background-color: #1B6EC3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.p-faq__button > span {
  width: 100%;
  height: 100%;
  position: relative;
}
.p-faq__button > span::before {
  content: " ";
  -webkit-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  background-color: #fff;
  width: clamp(1px, 0.09vw + 0.6px, 2px);
  height: clamp(11px, 0.45vw + 8.9px, 16px);
}
.p-faq__button > span::after {
  content: " ";
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  background-color: #fff;
  height: clamp(1px, 0.09vw + 0.6px, 2px);
  width: clamp(11px, 0.45vw + 8.9px, 16px);
}
.p-faq__button.active > span::before {
  opacity: 0;
}

/* =====================================================
  1.0 - Foundation
===================================================== */
/* =====================================================
  2.0 - Layout
===================================================== */
/* =====================================================
  3.0 - Object
===================================================== */
/*
  3.1 - Component
-----------------------------------------------------*/
/*
  3.2 - Project
-----------------------------------------------------*/
/*
  3.3 - Utility
-----------------------------------------------------*/
/*# sourceMappingURL=style.css.map */