@charset 'UTF-8';
@use "../inc/" as inc;
/*
l-footer
-----------------------------------------------------*/
.l-footer {
  width: 100%;
  position: relative;
  width: 100%;
  background: inc.$color-wht;
}
