@charset 'UTF-8';
@use "../inc/" as inc;
/*
l-header
-----------------------------------------------------*/
.l-header {
  position: fixed;
  z-index: 11;
  width: 100%;
  top: 0;
  height: 60px;
  background-color: inc.$color-wht;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  @include inc.mq(vr) {
    height: 100px;
  }
}
