@charset 'UTF-8';
@use "../inc/" as inc;
/*
l-wrapper
-----------------------------------------------------*/

.l-wrapper {
  max-width: calc(80rem + 4rem); //1280
  width: 100%;
  padding: 0 4%;
  margin: 0 auto;
  &.home {
    padding: 0 8%;
    @include inc.mq(tab) {
      padding: 0 6%;
    }
  }
  @include inc.mq(vr) {
    padding: 0 2rem;
  }
  @include inc.mq(wide) {
    max-width: 86%;
  }
}

.l-footer .l-wrapper {
  padding: 0 10%;
  @include inc.mq(vr) {
    padding: 0 2rem;
  }
}

.l-wrapper2 {
  max-width: calc(69rem + 4rem); //1104
  width: 100%;
  padding: 0 0rem;
  margin: 0 auto;
  &.home {
    padding: 0 8%;
    @include inc.mq(tab) {
      padding: 0 2rem;
    }
  }
  @include inc.mq(tab) {
    padding: 0 2rem;
  }
}
.l-wrapper3 {
  max-width: calc(52rem + 4rem); //832
  width: 100%;
  padding: 0 8%;
  margin: 0 auto;
  @include inc.mq(tab) {
    padding: 0 2rem;
  }
}
.l-wrapper4 {
  max-width: calc(33rem + 4rem); //528
  width: 100%;
  padding: 0 8%;
  margin: 0 auto;
  @include inc.mq(tab) {
    padding: 0 2rem;
  }
}

.l-wrapper__outer {
  @include inc.sizing(padding-top, wide, 192px, vr, 48px);
}
.l-wrapper__outer2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.l-wrapper__outer {
  @include inc.sizing(padding-top, wide, 112px, sp, 32px);
}

.l-wrapper--left {
  max-width: 100%; //336
  width: 100%;
  margin: 0;
  @include inc.mq(vr) {
    max-width: calc(21rem); //336
  }
  &--fixed {
    h1 { display: none;
      @include inc.mq(vr) {
        display: block;
      }
    }
    @include inc.mq(vr) {
      position: absolute;
      top: 256px;
    }
  }
}
.l-wrapper--right {
  max-width: 100%; //944
  width: 100%;
  margin: 0;
  padding: 0 4%;
  @include inc.mq(vr) {
    padding-left: calc(50% - 304px);
    @include inc.sizing(padding-top, wide, 178px, vr, 96px);
  }
  &.--peopel {
    @include inc.sizing(padding-top, wide, 112px, vr, 48px);
  }
  &.p-case {
    @include inc.mq(vr) {
      @include inc.sizing(padding-top, wide, 360px, vr, 338px);
    }
  }
}