@charset 'UTF-8';
@import url("https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Aboreto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shippori+Mincho:wght@600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;700display=swap');

@font-face {
  font-family: 'Hind_m';
  src: url('/recruit/assets/fonts/Hind/Hind-Medium.ttf') format('truetype');
}

/*
i-setting
-----------------------------------------------------*/

//====================================
//  Viewport
//====================================
// Contentの幅
$content-width: 375px !default;
// ブレークポイントの設定
$breakpoints: (
  sp: 460px,
  // sp: 375px,
  spl: 540px,
  tabs: 768px,
  tab: 900px,
  // tab: 768px,
  lap: 1025px,
  desk: 1201px,
  vr: 1280px,
  wide: 1568px,
  full: 1700px,
);

//====================================
//  Color
//====================================

// ベースカラー　背景色
$color-wht: #fff;
$color-blu: #1B6EC3;
$color-blu2: #008BBA; //#0075BC;
$color-blu3: #0075BC;
$color-blu4: #0F68B2;
$color-light-blu: #ECF1FA;
$color-light-blu2: #C6E3FF;
$color-yel: #FFEA00;
$color-light-yel: #FFF6A3;
$color-heavy-yel: #fae24c;
$color-grn: #009EA7;
$color-grn2: #009AB5; //#009AB5
$color-grn3: #ebf6f9;
$color-grn4: #469ca5;
$color-grn5: #e9f6f9;
$color-grn6: #e9f5f9;
$color-grn7: #e9f3f9;
$color-grn8: #ebf2fa;
$color-gry: #707070;
$color-blk: #171717;

//====================================
//  リンクカラー
//====================================
a, img, a img {
  border:none;
  outline:none;
  text-decoration: none;
  color: #171717;
}

//====================================
//  Font
//====================================
body {
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-weight: 500;
  color: $color-blk;
  background-color: $color-wht;
  position: relative;
  width: 100%;
  -webkit-font-smoothing: antialiased;
}
p {
  a {
    text-decoration: underline;
    text-decoration-color: $color-blu;
    text-decoration-thickness: 1px;
    text-underline-offset: 3px;
  }
}
//Zen Kaku Gothic New
//Regular 400
//Medium 500
//Bold 700

//font-family: 'Aboreto', cursive;
//Regular 400

//font-family: 'Montserrat', sans-serif;

//font-family: 'Shippori Mincho', serif;
